<div>
  <div>
    <h3>Variables</h3>
    <p>Le template de cet exercice vous permet de spécifier les variables suivantes :</p>
    <p>
      La documentation de cette fonctionnalité est disponible
      <a href="/docs/main/programing/exercise/config" target="_blank">sur cette page.</a>
    </p>
    <nz-list [nzDataSource]="inputs" nzBordered>
      @for(input of inputs; track $index) {
      <nz-list-item [class.selected]="selectionIndex === $index" (click)="selectInput($index)">
        <b>{{ input.name }}</b>
      </nz-list-item>
      }
    </nz-list>
    <h3>Debug</h3>
    <p>
      Le format de stockage interne de ce fichier est un JSON. Activez cette option pour en visualiser le contenu. Seul
      les variables modifiées par cet exercice seront affichées.
    </p>
    <nz-switch [(ngModel)]="debug"></nz-switch>
    <br /><br />
    <div>
      <pre *ngIf="debug">{{ overrides | json }}</pre>
    </div>
  </div>
  <div class="container-selection" *ngIf="selection">
    <app-ple-input mode="plo" [disabled]="readOnly" [(input)]="selection" (inputChange)="onChangeInput($event)" />
  </div>
</div>
