<div>
  <div>
    <h3>Variables</h3>
    <p>
      Définissez ici une liste de variables qui peuvent être spécifiées depuis une activité pour remplacer celles
      définies dans votre exercice.
    </p>
    <p>
      La documentation de cette fonctionnalité est disponible
      <a href="/docs/main/programing/exercise/config" target="_blank">sur cette page.</a>
    </p>
    <nz-list
      cdkDropList
      [cdkDropListDisabled]="readOnly"
      (cdkDropListDropped)="onReorder($any($event))"
      [nzDataSource]="inputs"
      nzBordered
    >
      <nz-list-item
        cdkDrag
        [class.selected]="selectionIndex === i"
        *ngFor="let input of inputs; trackBy: trackByIndex; index as i"
        (click)="selectInput(i)"
      >
        <b>{{ input.name }}</b>
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <button
              nz-button
              nzDanger
              nzType="text"
              nz-tooltip="Supprimer"
              [disabled]="readOnly"
              (click)="deleteInput(i)"
            >
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
          </nz-list-item-action>
          <nz-list-item-action *ngIf="!readOnly">
            <button nz-button nzType="text" nz-tooltip="Maintenez et déplacez pour changer l'ordre">
              <mat-icon>swap_vert</mat-icon>
            </button>
          </nz-list-item-action>
        </ul>
      </nz-list-item>
    </nz-list>
    <button class="btn-add-input" nz-button nzType="primary" [disabled]="readOnly" (click)="addInput()">+</button>
    <br />
    <h3>Debug</h3>
    <p>
      Le format de stockage interne de ce fichier est un JSON. Activez cette option pour en visualiser le contenu. Seul
      les variables modifiées par cet exercice seront affichées.
    </p>
    <nz-switch [(ngModel)]="debug"></nz-switch>
    <br /><br />
    <div>
      <pre *ngIf="debug">{{ inputs | json }}</pre>
    </div>
  </div>
  <div class="container-selection" *ngIf="selection">
    <app-ple-input [disabled]="readOnly" [(input)]="selection" (inputChange)="onChangeInput($event)" />
  </div>
</div>
