nz-select {
  margin-bottom: 1.5rem;
  min-width: 30%;
}

nz-timeline-item {
  margin-bottom: 1rem;
}

.timeline-item {
  display: flex;
  gap: 1rem;
  align-items: center;
}

nz-timeline {
  display: block;
  margin: 1.5rem 0;
}
