# Add files here to ignore them from prettier formatting

/dist
/coverage
/.angular
/.github
/.docker
/.graphql
/.vscode
/tmp
/node_modules
.gql
/resources

/.nx/cache

**/*.generated.ts
**/*.mdx
.angular
shared/external_libs
migrations
dumps
apps/docs/.next

/.nx/workspace-data