@import 'normalize';
@import 'fonts';
@import 'variables';
@import 'animations';
@import 'components';
@import './material/base';

body {
  width: 100vw;
  height: 100vh;
  overflow: auto;
  color: var(--brand-text-primary);
  background-color: var(--brand-background-primary);
  font-family: var(--brand-font);
}

.light-theme {
  --brand-background-components: #{$light-background};
  --brand-background-primary: #{$light-bg-darker-1};
  --brand-background-hover: #{$dark-bg-alpha-4};

  --brand-text-primary: #{$dark-text};
  --brand-text-secondary: #{$dark-accent-text};
  --brand-text-error: #{$dark-error-text};
  --brand-border-color: #{$dark-dividers};

  --brand-color-theme: #{$brand-color-primary};
}

.dark-theme {
  --brand-background-components: #{$dark-bg-lighter-5};
  --brand-background-primary: #{$dark-background};
  --brand-background-hover: #{$light-bg-alpha-4};

  --brand-text-primary: #{$light-text};
  --brand-text-secondary: #{$light-accent-text};
  --brand-text-error: #{$light-error-text};
  --brand-border-color: #{$light-dividers};

  --brand-color-theme: #{$light-text};
}

// GLOBAL APP COMPONENTS

ui-list-item-article {
  background-color: var(--brand-background-components);
}

nge-markdown {
  background-color: transparent !important;
  color: var(--brand-text-primary) !important;
}

.list-item-article-action-icon {
  max-height: 18px;
  margin-top: 4px;
}

.mat-mdc-menu-content {
  padding: 0 !important;
}

// CDK DRAG DROP PREVIEW STATE

.cdk-drag {
  cursor: move;
  &.cdk-drag-disabled {
    cursor: initial;
  }
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drop-list-dragging li:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

@media (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
}

pre.monaco-editor {
  code {
    overflow: auto !important;
  }
}
