// Styles for web components defined in the wecomponent library

.error-state {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #721c24 !important;
  background-color: #f8d7da !important;
  border-color: #f5c6cb !important;
}

.success-state {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #155724 !important;
  background-color: #d4edda !important;
  border-color: #c3e6cb !important;
}

.warning-state {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  color: #856404;
  background-color: #fff3cd;
  border-color: #ffeeba;
}

.error-border {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  border-color: #f5c6cb !important;
}

.success-border {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  border-color: #c3e6cb !important;
}

.warning-border {
  border: 1px solid transparent;
  border-radius: 0.25rem;
  border-color: #ffeeba;
}
