<nz-form-item>
  <nz-form-label [nzSpan]="3" nzLabelAlign="left" for="min">Choix multiple</nz-form-label>
  <nz-form-control>
    <label
      nz-checkbox
      [(ngModel)]="options.multiple"
      (ngModelChange)="notifyOptionsChange?.(options)"
      [nzDisabled]="disabled"
    ></label>
  </nz-form-control>
</nz-form-item>

<!-- CHOICES -->
<nz-form-item>
  <nz-form-label [nzSpan]="24" nzLabelAlign="left" for="choices">Choix possibles</nz-form-label>
  <nz-form-control>
    <ui-tag-list
      [small]="false"
      [vertical]="true"
      [tags]="options.choices"
      (edit)="editChoice($event.index, $event.value)"
      (remove)="removeChoice($event)"
      (create)="addChoice($event)"
      (reorder)="reorderChoices($event)"
    />
  </nz-form-control>
</nz-form-item>
