<header>
  <button nz-button nzType="text" (click)="drawerOpenedChange.emit(!drawerOpened)">
    <mat-icon>menu</mat-icon>
  </button>
  <img
    *ngIf="!drawerOpened"
    class="logo"
    src="assets/images/logo/platon.svg"
    alt="Logo PLaTon"
    [routerLink]="'/dashboard'"
  />
  <span *ngIf="!mobile">PLaTon</span>
  <div class="spacer"></div>

  <ng-container *ngIf="canCreate">
    <button nz-button nzType="primary" nzShape="round" nzSize="small" [matMenuTriggerFor]="actionMenu">
      <span nz-icon nzType="plus" nzTheme="outline"></span>
    </button>
  </ng-container>

  <button nz-button nzType="text" nzSize="small" [matMenuTriggerFor]="themeMenu">
    <mat-icon> {{ themeIcon }} </mat-icon>
  </button>
  <button nz-button nzType="text" nzSize="small" (click)="notifDrawer.open()">
    <nz-badge [nzCount]="(notifDrawer.count | async) || 0" [nzOffset]="[0, -4]">
      <mat-icon> notifications </mat-icon>
    </nz-badge>
  </button>
  <user-avatar
    *ngIf="user"
    [user]="user"
    [size]="32"
    [showUsername]="mobile ? 'none' : 'stacked'"
    [attr.aria-label]="user.firstName"
    [matMenuTriggerFor]="avatarMenu"
  />
</header>

<mat-menu #actionMenu="matMenu">
  <button mat-menu-item [routerLink]="['/courses/create']">
    <mat-icon>local_library</mat-icon>
    <span>Créer un cours</span>
  </button>
  <button
    *ngIf="canCreateCircle"
    mat-menu-item
    [routerLink]="['/resources/create']"
    [queryParams]="{ type: 'CIRCLE', parent: createResourceParentParam }"
  >
    <mat-icon>{{ 'CIRCLE' | resourceIcon }}</mat-icon>
    <span>Créer un cercle</span>
  </button>
  <button
    *ngIf="canCreateActivity"
    mat-menu-item
    [routerLink]="['/resources/create']"
    [queryParams]="{ type: 'ACTIVITY', parent: createResourceParentParam }"
  >
    <mat-icon>{{ 'ACTIVITY' | resourceIcon }}</mat-icon>
    <span>Créer une activité</span>
  </button>
  <button
    *ngIf="canCreateExercise"
    mat-menu-item
    [routerLink]="['/resources/create']"
    [queryParams]="{ type: 'EXERCISE', parent: createResourceParentParam }"
  >
    <mat-icon>{{ 'EXERCISE' | resourceIcon }}</mat-icon>
    <span>Créer un exercice</span>
  </button>
</mat-menu>

<mat-menu #avatarMenu="matMenu">
  <button mat-menu-item [routerLink]="'/account'">
    <mat-icon>account_circle</mat-icon>
    <span>Mon compte</span>
  </button>
  <button mat-menu-item (click)="signOut()">
    <mat-icon>logout</mat-icon>
    <span>Déconnexion</span>
  </button>
</mat-menu>

<mat-menu #notifMenu="matMenu">
  <button mat-menu-item>
    <mat-icon>account_circle</mat-icon>
    <span>Compte</span>
  </button>
  <button mat-menu-item (click)="signOut()">
    <mat-icon>logout</mat-icon>
    <span>Déconnexion</span>
  </button>
</mat-menu>

<mat-menu #themeMenu="matMenu">
  <button mat-menu-item (click)="lightTheme()">
    <mat-icon>light_mode</mat-icon>
    <span>Thème clair</span>
  </button>
  <button mat-menu-item (click)="darkTheme()">
    <mat-icon>dark_mode</mat-icon>
    <span>Thème sombre</span>
  </button>
  <button mat-menu-item (click)="systemTheme()">
    <mat-icon>auto_awesome</mat-icon>
    <span>Thème système</span>
  </button>
</mat-menu>

<notif-drawer #notifDrawer />
