header {
  width: 100%;
  display: flex;
  align-items: center;
}

.logo {
  width: 32px;
  height: 32px;
  margin-right: 0.5rem;
  cursor: pointer;
}

.spacer {
  flex: 1;
}

.spacing {
  margin: 0 8px;
}

user-avatar {
  cursor: pointer;
  font-size: 0.75em;
  margin-left: 1rem;
  margin-right: 1rem;
}

.actions {
  display: flex;
  flex-direction: column;
}

.ant-btn {
  justify-content: center;
}

.ant-btn-primary {
  margin: 0 8px;
}

.modal-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-color {
  color: var(--brand-text-primary);
}