header {
  width: 100%;
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1;
}

.spacing {
  margin: 0 16px;
}

user-avatar {
  cursor: pointer;
  font-size: .75em;
  margin-right: 1rem;
}

.actions {
  display: flex;
  flex-direction: column;
  //align-items: center;
}
