<h1>Cours</h1>
<header>
  <ui-search-bar [searchbar]="searchbar" (filter)="filterDrawer.open()">
    <ng-template let-context> {{ context }}</ng-template>
  </ui-search-bar>
  <button
    *ngIf="canCreateCourse"
    nz-button
    nzType="primary"
    nzShape="round"
    nzSize="large"
    [routerLink]="['/courses/create']"
    [queryParamsHandling]="'merge'"
    [queryParams]="null"
    nz-tooltip="Créer un nouveau cours"
  >
    <span nz-icon nzType="plus" nzTheme="outline"></span>
  </button>
</header>
<article>
  <ng-container *ngIf="!searching; else spinner">
    <h2 *ngIf="items.length">Voici ce que nous avons trouvé selon vos critères de recherche...</h2>
    <div class="filter-indicators">
      <ui-filter-indicators
        [filters]="filters"
        (filtersChange)="search($event, $event.search)"
        [indicators]="indicators"
      />
    </div>
    <div class="total-matches">
      <ng-container [ngPlural]="totalMatches">
        <ng-template ngPluralCase="=0"></ng-template>
        <ng-template ngPluralCase="=1">
          <p>1 résultat</p>
        </ng-template>
        <ng-template ngPluralCase="other">
          <p>{{ totalMatches }} résultats</p>
        </ng-template>
      </ng-container>
    </div>
    <button
      class="show-all-button"
      *ngIf="displayShowAllButton"
      nz-button
      nzType="default"
      nzShape="round"
      nzSize="small"
      (click)="searchAll()"
    >
      Afficher tous les cours
    </button>
    <course-list [items]="items">
      <h2>Aucun cours ne correspond à votre recherche</h2>
      <ul>
        <li>Vérifiez les termes de votre recherche</li>
        <li>Essayez d'autres critères de recherche</li>
      </ul>
    </course-list>
  </ng-container>
</article>
<ng-template #spinner>
  <nz-spin nzSimple nzSize="large" />
</ng-template>
<course-filters #filterDrawer [filters]="filters" (triggered)="this.search($event, this.filters.search)" />
