:host {
  display: block;
  width: 100%;
  padding: 2rem;
}

h1 {
  width: 100%;
  text-align: center;
  margin-top: 0;
}

h2 {
  margin-bottom: 1rem;
}


header {
  margin-bottom: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  button {
    margin: 1rem 0;
  }
}

article {
  width: 70%;
  margin: 0 auto;
  box-sizing: border-box;
}

li {
  list-style: none;
}

button {
  display: inline-flex;
  align-items: center;
  mat-icon {
    margin-right: 4px;
  }
}

nz-spin {
  display: flex;
  justify-content: center;
  margin: 10rem 0;
}

ui-search-bar {
  width: 70%;
  margin: 0 auto;
}

.indicators {
  margin-bottom: 1rem;
}
