@import url(https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0);
@import url(https://cdn.jsdelivr.net/npm/vscode-codicons@0.0.17/dist/codicon.min.css);

.material-symbols-outlined {
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.nx-list-disc {
  margin-top: 0 !important;
}
