<ng-container *ngIf="context.course as course">
  <nz-row [nzGutter]="[24, 24]" nzAlign="top">
    <nz-col nzXs="24" nzSm="24" nzMd="18" nzLg="18" nzXl="18">
      <header>
        <ui-search-bar [searchbar]="searchbar">
          <ng-template let-context> {{ context }}</ng-template>
        </ui-search-bar>
        <button
          *ngIf="course.permissions?.update && sections.length"
          nz-button
          nzType="primary"
          nzShape="round"
          (click)="addSection(sections[sections.length - 1])"
        >
          Ajouter une section
        </button>
        <button
          *ngIf="context.course?.permissions?.update && viewMode.mode === 'table'"
          nz-button
          nzType="primary"
          nzShape="round"
          [queryParamsHandling]="'merge'"
          [routerLink]="['/activities/create']"
          [queryParams]="{ course: course.id }"
        >
          Ajouter une activité
        </button>
        <course-csv-download-button
          *ngIf="context.course?.permissions?.update"
          [activities]="activities"
          [name]="course.name"
          type="course"
          [courseId]="course.id"
        />
        <div class="spacer"></div>
        <ui-view-mode #viewMode storageKey="course.view-mode" defaultMode="cards" [modes]="['cards', 'table']" />
      </header>
      <ng-container *ngIf="sections.length; else noSections">
        <ng-container [ngSwitch]="viewMode.mode">
          <ng-container *ngSwitchCase="'cards'">
            <nz-collapse nzGhost>
              <nz-collapse-panel
                *ngFor="let item of sectionWithActivities; trackBy: trackSection"
                [nzActive]="true"
                [nzHeader]="header"
                [nzExtra]="extra"
              >
                <ng-template #header>
                  <span
                    nz-typography
                    [nzEditable]="course.permissions?.update"
                    [nzContent]="item.section.name"
                    (nzContentChange)="renameSection(item.section, $event)"
                    (click)="$event.stopPropagation()"
                  >
                  </span>
                </ng-template>
                <ng-template #extra>
                  <button
                    *ngIf="context.course?.permissions?.update"
                    class="add-activity"
                    nz-button
                    nzType="primary"
                    nzShape="round"
                    nzSize="small"
                    [routerLink]="['/activities/create']"
                    [queryParams]="{
                      course: item.section.courseId,
                      section: item.section.id
                    }"
                  >
                    Ajouter une activité
                  </button>
                  <app-course-section-actions
                    *ngIf="course.permissions?.update"
                    [section]="item.section"
                    [sectionCount]="sections.length"
                    (moveUp)="moveUpSection(item.section)"
                    (moveDown)="moveDownSection(item.section)"
                    (insertBelow)="addSection(item.section)"
                    (edit)="editModeOn(item)"
                    (save)="saveSection(item)"
                    (remove)="deleteSection(item.section)"
                    [nbActivities]="numberOfActivities(item.section)"
                  />
                </ng-template>
                <course-activity-grid [items]="item.activities" [editmode]="item.editMode">
                  <ng-container *ngTemplateOutlet="noActivities; context: { $implicit: item.section }" />
                </course-activity-grid>
              </nz-collapse-panel>
            </nz-collapse>
          </ng-container>
          <ng-container *ngSwitchCase="'table'">
            <course-activity-table [activities]="flattenedActivities" [sections]="sections" />
          </ng-container>
        </ng-container>
      </ng-container>
    </nz-col>
    <nz-col nzXs="24" nzSm="24" nzMd="6" nzLg="6" nzXl="6">
      <aside>
        <nz-row [nzGutter]="[24, 24]">
          <nz-col nzSpan="24">
            <ui-statistic-card
              nzIcon="line-chart"
              ribbonColor="#f39c12"
              description="Avancement sur les activités"
              valueSuffix="%"
              [value]="course.statistic?.progression ?? 0"
            />
          </nz-col>
          <nz-col nzSpan="24">
            <ui-statistic-card
              nzIcon="clock-circle"
              ribbonColor="#349d55"
              description="Temps passé sur les activités"
              [value]="course.statistic?.timeSpent ?? 0 | duration"
            />
          </nz-col>
          <nz-col nzSpan="24">
            <ui-statistic-card
              nzIcon="team"
              ribbonColor="#8e44ad"
              description="Enseignants"
              [value]="course.statistic?.teacherCount ?? 0"
            />
          </nz-col>
          <nz-col nzSpan="24">
            <ui-statistic-card
              nzIcon="team"
              ribbonColor="#7f8c8d"
              description="Élèves"
              [value]="course.statistic?.studentCount ?? 0"
            />
          </nz-col>
        </nz-row>
      </aside>
    </nz-col>
  </nz-row>
</ng-container>

<ng-template #noSections>
  <nz-empty [nzNotFoundContent]="noSectionsContent" [nzNotFoundFooter]="noSectionsFooter">
    <ng-template #noSectionsContent>
      Ce cours ne contient aucune section. Les sections permettent d'organiser le contenu du cours en thématiques.
    </ng-template>
    <ng-template #noSectionsFooter>
      <button *ngIf="context.course?.permissions?.update" nz-button nzType="primary" (click)="addSection()">
        Ajouter une section
      </button>
    </ng-template>
  </nz-empty>
</ng-template>

<ng-template let-section #noActivities>
  <nz-empty [nzNotFoundContent]="noActivitiesContent">
    <ng-template #noActivitiesContent> Cette section ne contient aucune activité. </ng-template>
  </nz-empty>
</ng-template>
