<ng-container *ngIf="context.course">
  <ng-container *ngIf="sections.length; else: noSections">
    <nz-collapse>
      <nz-collapse-panel
        *ngFor="let section of sections; trackBy: trackSection;"
        [nzHeader]="header"
        [nzExtra]="extra">
        <ng-template #header>
          <span
            nz-typography
            nzEditable
            [nzContent]="section.name"
            (nzContentChange)="renameSection(section, $event)"
            (click)="$event.stopPropagation()">
          </span>
        </ng-template>
        <ng-template #extra>
          <app-course-section-actions
            [section]="section"
            [sectionCount]="sections.length"
            (moveUp)="moveUpSection(section)"
            (moveDown)="moveDownSection(section)"
            (insertBelow)="addSection(section)"
            (remove)="deleteSection(section)" />
        </ng-template>
        <ng-container *ngTemplateOutlet="noActivities; context: { $implicit: section }"></ng-container>
      </nz-collapse-panel>
    </nz-collapse>
  </ng-container>
</ng-container>


<ng-template #noSections>
  <nz-empty
    [nzNotFoundContent]="noSectionsContent"
    [nzNotFoundFooter]="noSectionsFooter">
    <ng-template #noSectionsContent>
      Ce cours ne contient aucune section. Les sections permettent d'organiser le contenu du cours en thématiques.
    </ng-template>
    <ng-template #noSectionsFooter>
      <button nz-button nzType="primary" (click)="addSection()">
        Ajouter une section
      </button>
    </ng-template>
  </nz-empty>
</ng-template>

<ng-template let-section #noActivities>
  <nz-empty
    [nzNotFoundContent]="noActivitiesContent"
    [nzNotFoundFooter]="noActivitiesFooter">
    <ng-template #noActivitiesContent>
      Cette section ne contient aucune activité.
    </ng-template>
    <ng-template #noActivitiesFooter>
      <button
        nz-button
        nzType="primary"
        [routerLink]="['/activity/create']"
        [queryParams]="{
          course: section.courseId,
          section: section.id
        }">
        Ajouter une activité
      </button>
    </ng-template>
  </nz-empty>
</ng-template>
