:host {
  display: block;
}

mat-card {
  margin-bottom: 1rem;
}

nz-empty {
  margin: 2rem 0;
}

mat-chip-set {
  margin: 1rem 0;
}

.spacer {
  flex: 1;
}

.echarts {
  height: 400px;
}

ui-statistic-card {
  [nz-button] {
    margin-top: 0.5rem;
  }
}
