:host {
  display: block;
}

mat-form-field {
  width: 100%;
}

mat-card {
  margin-bottom: 1rem;
}

.status {
  cursor: pointer;
  display: block;
  width: 100%;
  margin-bottom: 8px;
  nz-tag {
    width: 100%;
  }
}

.spacer {
  flex: 1;
}
