<div class="hero-content">
  <img class="logo" src="assets/images/logo/platon.svg" alt="Logo PLaTon" />

  <div class="hero-description">
    <h1>
      Plateforme Open Source d'Apprentissage et d'Enseignement en ligne <br />
      <span class="emphasize"> <span id="animated-text"></span><span class="cursor">|</span> </span>
    </h1>
    <p>
      Avec ou sans compétences en programmation, vous pouvez utiliser PLaTon pour créer des exercices
      <span class="emphasize">auto-corrigés</span> et <span class="emphasize">interdisciplinaires</span> pour vos cours.
    </p>
    <a href="https://github.com/cisstech/platon" class="cta-button">Code source de PLaTon</a>
  </div>
</div>
<div class="hero-illustration">
  <h2>Plateform for Learning and Teaching online</h2>
  <img src="assets/images/hero/hero-11.png" alt="Illustration de PLaTon" />
</div>
