<section class="login-content">
  <header>
    <img class="logo" src="assets/images/logo/platon.svg" alt="Logo PLaTon" />
  </header>
  <main>
    <auth-sign-in />
    <mat-divider />
    <cas-sign-in />
    <div class="no-account">
      <a href="/docs/main/overview/login">Vous n'avez pas de compte sur PLaTon ?</a>
    </div>
  </main>
</section>
<section class="login-illustration">
  <h2>Platform for Learning and Teaching online</h2>
  <img src="assets/images/illustrations/hero.png" alt="Illustration de PLaTon" />
</section>
