<section *ngIf="canEdit">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Invitations</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <resource-invitation-form [excludes]="excludes" (send)="sendInvitation($event)" />
      <resource-invitation-table
        [invitations]="invitations"
        [editable]="canEdit"
        (deleted)="deleteInvitation($event)"
      />
    </mat-card-content>
  </mat-card>
</section>

<section *ngIf="canEdit">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Demandes</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <resource-member-table
        [members]="joinRequests"
        [canAccept]="canEdit"
        [canDelete]="canEdit"
        (accept)="acceptJoinRequest($event)"
        (deleted)="declineJoinRequest($event)"
      />
    </mat-card-content>
  </mat-card>
</section>

<section>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Collaborateurs</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <resource-member-table
        [members]="members"
        [canDelete]="canEdit"
        [excludeFromDelete]="excludeFromDelete"
        (deleted)="deleteMember($event)"
      />
    </mat-card-content>
  </mat-card>
</section>
