nz-list {
  margin-bottom: 1rem;
  background-color: var(--brand-background-primary);
}

nz-list-item {
  padding: 0.5rem;
  cursor: pointer;
  &.selected {
    border-left: 2px solid var(--brand-color-primary);
  }
}

:host {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 2rem;
  width: 100%;
  > :last-child {
    width: 95%;
  }
}
