<div>
  <nz-list [nzDataSource]="inputs" nzBordered>
    <nz-list-item
      [class.selected]="selectionIndex === i"
      (click)="selectAt(i)"
      *ngFor="let variable of inputs; trackBy: trackFn; index as i"
    >
      <span>{{ variable.name }}</span>
      <ul nz-list-item-actions>
        <nz-list-item-action>
          <button nz-button nzDanger nzType="text" nz-tooltip="Supprimer" [disabled]="disabled" (click)="deleteAt(i)">
            <span nz-icon nzType="delete" nzTheme="outline"></span>
          </button>
        </nz-list-item-action>
      </ul>
    </nz-list-item>
  </nz-list>
  <button nz-button nzType="primary" [disabled]="disabled" (click)="add()">+</button>
</div>
<div>
  <app-ple-input
    *ngIf="selection"
    [input]="selection"
    [disabled]="disabled"
    [reservedNames]="reservedNames"
    (inputChange)="update($event)"
    mode="design"
  />
</div>
