<ui-layout-tabs>
  <nz-breadcrumb nzSeparator="">
    <nz-breadcrumb-item> Profil </nz-breadcrumb-item>
  </nz-breadcrumb>
  <ui-layout-tab [link]="['about-me']">
    <ng-template>
      <mat-icon>account_box</mat-icon>
      A propos
    </ng-template>
  </ui-layout-tab>
  <ui-layout-tab [link]="['security']">
    <ng-template>
      <mat-icon>security</mat-icon>
      Sécurité
    </ng-template>
  </ui-layout-tab>
  <!--
  <ui-layout-tab [link]="['notifications']">
    <ng-template>
      <mat-icon>notifications</mat-icon>
      Notifications
    </ng-template>
  </ui-layout-tab>
  -->
</ui-layout-tabs>
