<nz-steps [nzCurrent]="step" (nzIndexChange)="step = $event" nzSize="small">
  <nz-step nzTitle="Informations" nzIcon="info-circle" />
  <nz-step nzTitle="Paramètres" nzIcon="setting" />
  <nz-step nzTitle="Exercices" nzIcon="ordered-list" />
</nz-steps>
<form [formGroup]="form">
  <ng-container *ngIf="step === 0">
    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzLabelAlign="left" for="title">Titre</nz-form-label>
      <nz-form-control>
        <input nz-input formControlName="title" id="title" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzLabelAlign="left" for="introduction">Introduction</nz-form-label>
      <nz-form-control>
        <textarea nz-input formControlName="introduction" id="introduction"></textarea>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSpan]="3" nzLabelAlign="left" for="conclusion">Conclusion</nz-form-label>
      <nz-form-control>
        <textarea nz-input formControlName="conclusion" id="conclusion"></textarea>
      </nz-form-control>
    </nz-form-item>
  </ng-container>
  <ng-container *ngIf="step === 1">
    <nz-collapse>
      <nz-collapse-panel nzHeader="Temps" nzExpandedIcon="clock-circle" nzActive>
        <nz-form-item>
          <nz-form-label
            [nzSpan]="3"
            nzLabelAlign="left"
            for="duration"
            nzTooltipTitle="La durée de l'activité. Laissez vide pour ne pas mettre de limite."
            >Durée</nz-form-label
          >
          <nz-form-control>
            <nz-time-picker
              formControlName="duration"
              id="duration"
              nzFormat="HH:mm:ss"
              [nzSuffixIcon]="suffix"
              [nzUse12Hours]="false"
            />
            <ng-template #suffix>hh:mm:ss</ng-template>
          </nz-form-control>
        </nz-form-item>
      </nz-collapse-panel>
      <nz-collapse-panel formGroupName="navigation" nzHeader="Navigation" nzExpandedIcon="compass" nzActive>
        <nz-form-item>
          <nz-form-label [nzSpan]="3" nzLabelAlign="left" for="navigationMode">Mode</nz-form-label>
          <nz-form-control>
            <nz-select formControlName="mode" id="navigationMode">
              <nz-option nzValue="composed" nzLabel="Composée" nzCustomContent>
                <span
                  nz-icon
                  nzType="question-circle"
                  nz-tooltip="Tous les exercices sont affichés simultanément."
                ></span>
                Composée
              </nz-option>
              <nz-option nzValue="manual" nzLabel="Progressive" nzCustomContent>
                <span nz-icon nzType="question-circle" nz-tooltip="les exercices sont affichés un à un"></span>
                Progressive
              </nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </nz-collapse-panel>
      <nz-collapse-panel formGroupName="actions" nzHeader="Actions" nzExpandedIcon="play-circle" nzActive>
        <nz-form-item>
          <nz-form-label
            [nzSpan]="3"
            nzLabelAlign="left"
            for="retry"
            nzTooltipTitle="Indiquez le nombre maximal de validations autorisées avant la désactivation du bouton 'Valider'. Entrez 0 pour un nombre illimité de validations."
            >Tentatives</nz-form-label
          >
          <nz-form-control>
            <nz-input-number formControlName="retry" id="retry" [nzMin]="0" [nzStep]="1"></nz-input-number>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label
            [nzSpan]="3"
            nzLabelAlign="left"
            for="hints"
            nzTooltipTitle="Afficher le bouton 'Aides' des exercices si disponible."
            >Aides</nz-form-label
          >
          <nz-form-control>
            <label nz-checkbox formControlName="hints" id="hints"></label>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label
            [nzSpan]="3"
            nzLabelAlign="left"
            for="reroll"
            nzTooltipTitle="Afficher le bouton 'Autre question' des exercices si disponible."
            >Autre question</nz-form-label
          >
          <nz-form-control>
            <label nz-checkbox formControlName="reroll" id="reroll"></label>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label
            [nzSpan]="3"
            nzLabelAlign="left"
            for="theories"
            nzTooltipTitle="Afficher le bouton 'Théories' des exercices si disponible."
            >Théories</nz-form-label
          >
          <nz-form-control>
            <label nz-checkbox formControlName="theories" id="theories"></label>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label
            [nzSpan]="3"
            nzLabelAlign="left"
            for="solution"
            nzTooltipTitle="Afficher le bouton 'Solution' des exercices si disponible."
            >Solution</nz-form-label
          >
          <nz-form-control>
            <label nz-checkbox formControlName="solution" id="solution"></label>
          </nz-form-control>
        </nz-form-item>
      </nz-collapse-panel>
      <nz-collapse-panel formGroupName="feedback" nzHeader="Feedback" nzExpandedIcon="message" nzActive>
        <nz-form-item>
          <nz-form-label
            [nzSpan]="3"
            nzLabelAlign="left"
            for="validation"
            nzTooltipTitle="Afficher le feedback des exercices après une validation."
            >Validation</nz-form-label
          >
          <nz-form-control>
            <label nz-checkbox formControlName="validation" id="validation"></label>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label
            [nzSpan]="3"
            nzLabelAlign="left"
            for="review"
            nzTooltipTitle="Afficher le feedback des exercices à la fin de l'activité."
            >Correction</nz-form-label
          >
          <nz-form-control>
            <label nz-checkbox formControlName="review" id="review"></label>
          </nz-form-control>
        </nz-form-item>
      </nz-collapse-panel>
      <nz-collapse-panel formGroupName="security" nzHeader="Sécurité" nzExpandedIcon="safety" nzActive>
        <nz-form-item>
          <nz-form-label
            [nzSpan]="5"
            nzLabelAlign="left"
            for="noCopyPaste"
            nzTooltipTitle="Une fois activée, cette option désactivera la fonctionnalité de copier-coller dans l'activité, incluant les raccourcis clavier (Ctrl/Cmd + C, Ctrl/Cmd + V, Ctrl/Cmd + X) et le clic droit."
            >Blocage du copier coller</nz-form-label
          >
          <nz-form-control>
            <label nz-checkbox formControlName="noCopyPaste" id="noCopyPaste"></label>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label
            [nzSpan]="5"
            nzLabelAlign="left"
            for="terminateOnLoseFocus"
            nzTooltipTitle="Si activée, cette option entraînera la fin automatique de l'activité en cas de clic en dehors de sa page, que ce soit sur une autre fenêtre ou en dehors du cadre de la page."
            >Terminer si clique en dehors</nz-form-label
          >
          <nz-form-control>
            <label nz-checkbox formControlName="terminateOnLoseFocus" id="terminateOnLoseFocus"></label>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label
            [nzSpan]="5"
            nzLabelAlign="left"
            for="terminateOnLeavePage"
            nzTooltipTitle="Si activée, cette option entraînera la fin automatique de l'activité en cas de changement de visibilité de la page, tel qu'un changement d'onglet ou de fenêtre du système d'exploitation."
            >Terminer si changement de page</nz-form-label
          >
          <nz-form-control>
            <label nz-checkbox formControlName="terminateOnLeavePage" id="terminateOnLeavePage"></label>
          </nz-form-control>
        </nz-form-item>
      </nz-collapse-panel>
    </nz-collapse>
  </ng-container>
  <ng-container *ngIf="step === 2">
    <div class="exercise-group-container">
      <div class="exercise-group-list">
        <h3>Groupes</h3>
        <nz-list
          cdkDropList
          [cdkDropListDisabled]="readOnly"
          (cdkDropListDropped)="onReorderGroups($any($event))"
          [nzDataSource]="exerciseGroups"
          nzBordered
        >
          <nz-list-item
            cdkDrag
            [class.selected]="selectedGroupIndex === i"
            *ngFor="let group of exerciseGroups; trackBy: trackByIndex; index as i"
            (click)="selectGroup(i)"
          >
            <span>
              <b> Groupe {{ i + 1 }} </b> : <br />
              <ng-container [ngPlural]="group.length">
                <ng-template ngPluralCase="=0">0 exercice</ng-template>
                <ng-template ngPluralCase="=1">1 exercice</ng-template>
                <ng-template ngPluralCase="other">{{ group.length }} exercices</ng-template>
              </ng-container></span
            >
            <ul nz-list-item-actions>
              <nz-list-item-action>
                <button
                  nz-button
                  nzDanger
                  nzType="text"
                  nz-tooltip="Supprimer"
                  [disabled]="readOnly"
                  (click)="deleteGroup(i)"
                >
                  <span nz-icon nzType="delete" nzTheme="outline"></span>
                </button>
              </nz-list-item-action>
              <nz-list-item-action *ngIf="!readOnly">
                <button nz-button nzType="text" nz-tooltip="Maintenez et déplacez pour changer l'ordre">
                  <mat-icon>swap_vert</mat-icon>
                </button>
              </nz-list-item-action>
            </ul>
          </nz-list-item>
        </nz-list>
        <button nz-button nzType="primary" [disabled]="readOnly" (click)="addGroup()">+</button>
      </div>
      <div class="exercise-list" *ngIf="selectedGroup !== undefined">
        <ng-template [ngTemplateOutlet]="exerciseList"></ng-template>
      </div>
    </div>
  </ng-container>
</form>

<ng-template #exerciseList>
  <h3>
    <nz-breadcrumb>
      <nz-breadcrumb-item>Groupe {{ (selectedGroupIndex || 0) + 1 }}</nz-breadcrumb-item>
      <nz-breadcrumb-item>Exercices</nz-breadcrumb-item>
    </nz-breadcrumb>
  </h3>

  <div class="add-exercise">
    <resource-search-bar
      [modalMode]="true"
      [simpleLayout]="true"
      [disabled]="!!readOnly"
      [(ngModel)]="selectedExercise"
      [filters]="{ types: ['EXERCISE'], watchers: [user.id] }"
    />
    <button nz-button nzType="primary" (click)="addExercise()" [disabled]="!selectedExercise || readOnly">
      Ajouter
    </button>
  </div>

  <nz-list
    cdkDropList
    [cdkDropListDisabled]="readOnly"
    (cdkDropListDropped)="onReorderExercises($any($event))"
    [nzDataSource]="selectedGroup"
    nzBordered
  >
    <nz-list-item cdkDrag *ngFor="let exercise of selectedGroup; trackBy: trackByExerciseId; let index = index">
      <app-pla-exercise-editor
        [disabled]="readOnly"
        [exercise]="exercise"
        (exerciseChange)="updateExercise($event)"
        (deleteClicked)="deleteExercise(index)"
      />
    </nz-list-item>
  </nz-list>
</ng-template>
