:host {
  display: block;
  height: 100%;
  width: 100%;
  overflow: auto;
}
nz-steps {
  padding: 1.5rem;
}

form {
  height: 100%;
  padding: 0 1.5rem;
}

nz-collapse {
  padding: 1.5rem;
  background-color: #ffffff;
  border-radius: 4px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}

nz-form-label {
  font-weight: 600;
}

nz-form-control {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

nz-input,
nz-input-group,
nz-select,
nz-time-picker,
nz-checkbox-wrapper {
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

nz-list {
  margin-bottom: 1rem;
}

nz-list-item {
  padding: 0.5rem;
  cursor: pointer;
  &.selected {
    border-left: 2px solid var(--brand-color-primary);
  }
}

.exercise-group-container {
  display: flex;
  gap: 1rem;
}

.exercise-group-list {
  width: 25%;
}

.exercise-list {
  width: 75%;
}

.add-exercise {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 0.5rem;
}
