<ng-template #CustomDiceIson>
  <span nz-icon class="ant-collapse-arrow">
    <svg width="12px" height="12px" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
      <path
        fill="none"
        stroke="#000"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="32"
        d="M448,341.37V170.61A32,32,0,0,0,432.11,143l-152-88.46a47.94,47.94,0,0,0-48.24,0L79.89,143A32,32,0,0,0,64,170.61V341.37A32,32,0,0,0,79.89,369l152,88.46a48,48,0,0,0,48.24,0l152-88.46A32,32,0,0,0,448,341.37Z"
      />
      <polyline
        fill="none"
        stroke="#000"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="32"
        points="69 153.99 256 263.99 443 153.99"
      />
      <line
        fill="none"
        stroke="#000"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="32"
        x1="256"
        y1="463.99"
        x2="256"
        y2="263.99"
      />
      <ellipse cx="256" cy="152" rx="24" ry="16" />
      <ellipse cx="208" cy="296" rx="16" ry="24" />
      <ellipse cx="112" cy="328" rx="16" ry="24" />
      <ellipse cx="304" cy="296" rx="16" ry="24" />
      <ellipse cx="400" cy="240" rx="16" ry="24" />
      <ellipse cx="304" cy="384" rx="16" ry="24" />
      <ellipse cx="400" cy="328" rx="16" ry="24" />
    </svg>
  </span>
</ng-template>
<div class="pla-editor">
  <!-- Boutons pour les étapes -->
  <div class="button-group">
    <button nz-button nzType="default" (click)="getToStep(0)" [ngClass]="{ active: step === 0 }">
      <div class="vertical-align">
        <span nz-icon nzType="info-circle"></span>
        Informations
      </div>
    </button>
    <button nz-button nzType="default" (click)="getToStep(1)" [ngClass]="{ active: step === 1 }">
      <div class="vertical-align">
        <span nz-icon nzType="setting"></span>
        Paramètres
      </div>
    </button>
    <button nz-button nzType="default" (click)="getToStep(2)" [ngClass]="{ active: step === 2 }">
      <div class="vertical-align">
        <span nz-icon nzType="ordered-list"></span>
        Exercices
      </div>
    </button>
  </div>

  <hr />
  <form [formGroup]="form">
    <ng-container *ngIf="step === 0">
      <nz-form-item>
        <nz-form-label [nzSpan]="3" nzLabelAlign="left" for="title">Titre</nz-form-label>
        <nz-form-control>
          <input nz-input formControlName="title" id="title" />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="3" nzLabelAlign="left" for="introduction">Introduction</nz-form-label>
        <nz-form-control>
          <textarea nz-input nzAutosize formControlName="introduction" id="introduction"></textarea>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label [nzSpan]="3" nzLabelAlign="left" for="conclusion">Conclusion</nz-form-label>
        <nz-form-control>
          <textarea nz-input nzAutosize formControlName="conclusion" id="conclusion"></textarea>
        </nz-form-control>
      </nz-form-item>
    </ng-container>
    <ng-container *ngIf="step === 1">
      <nz-collapse>
        <nz-collapse-panel nzHeader="Temps" nzExpandedIcon="clock-circle" nzActive>
          <nz-form-item>
            <nz-form-label
              [nzSpan]="3"
              nzLabelAlign="left"
              for="duration"
              nzTooltipTitle="La durée de l'activité. Laissez vide pour ne pas mettre de limite."
              >Durée</nz-form-label
            >
            <nz-form-control>
              <nz-time-picker
                formControlName="duration"
                id="duration"
                nzFormat="HH:mm:ss"
                [nzSuffixIcon]="suffix"
                [nzUse12Hours]="false"
              />
              <ng-template #suffix>hh:mm:ss</ng-template>
            </nz-form-control>
          </nz-form-item>
        </nz-collapse-panel>
        <nz-collapse-panel nzHeader="Aléatoire" [nzExpandedIcon]="CustomDiceIson" nzActive>
          <nz-form-item>
            <nz-form-label
              [nzSpan]="3"
              nzLabelAlign="left"
              for="seedPerExercise"
              nzTooltipTitle="Par défaut, tous les exercices auront une même seed. Cocher cette option pour que chaque exercice possède une graine tirée aléatoirement."
              >Exercices avec des seeds aléatoires</nz-form-label
            >
            <nz-form-control>
              <label nz-checkbox formControlName="seedPerExercise" id="seedPerExercise"></label>
            </nz-form-control>
          </nz-form-item>
        </nz-collapse-panel>

        <nz-collapse-panel formGroupName="navigation" nzHeader="Navigation" nzExpandedIcon="compass" nzActive>
          <nz-form-item>
            <nz-form-label [nzSpan]="3" nzLabelAlign="left" for="navigationMode">Mode</nz-form-label>
            <nz-form-control>
              <nz-select formControlName="mode" id="navigationMode">
                <nz-option nzValue="composed" nzLabel="Composée" nzCustomContent>
                  <span
                    nz-icon
                    nzType="question-circle"
                    nz-tooltip="Tous les exercices sont affichés simultanément."
                  ></span>
                  Composée
                </nz-option>
                <nz-option nzValue="manual" nzLabel="Progressive" nzCustomContent>
                  <span nz-icon nzType="question-circle" nz-tooltip="les exercices sont affichés un à un"></span>
                  Progressive
                </nz-option>
              </nz-select>
            </nz-form-control>
          </nz-form-item>
        </nz-collapse-panel>
        <nz-collapse-panel formGroupName="actions" nzHeader="Actions" nzExpandedIcon="play-circle" nzActive>
          <nz-form-item>
            <nz-form-label
              [nzSpan]="3"
              nzLabelAlign="left"
              for="retry"
              nzTooltipTitle="Indiquez le nombre maximal de validations autorisées avant la désactivation du bouton 'Valider'. Entrez 0 pour un nombre illimité de validations."
              >Tentatives</nz-form-label
            >
            <nz-form-control>
              <nz-input-number formControlName="retry" id="retry" [nzMin]="0" [nzStep]="1"></nz-input-number>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label
              [nzSpan]="3"
              nzLabelAlign="left"
              for="hints"
              nzTooltipTitle="Afficher le bouton 'Aides' des exercices si disponible."
              >Aides</nz-form-label
            >
            <nz-form-control>
              <label nz-checkbox formControlName="hints" id="hints"></label>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label
              [nzSpan]="3"
              nzLabelAlign="left"
              for="reroll"
              nzTooltipTitle="Afficher le bouton 'Autre question' des exercices si disponible."
              >Autre question</nz-form-label
            >
            <nz-form-control>
              <label nz-checkbox formControlName="reroll" id="reroll"></label>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label
              [nzSpan]="3"
              nzLabelAlign="left"
              for="theories"
              nzTooltipTitle="Afficher le bouton 'Théories' des exercices si disponible."
              >Théories</nz-form-label
            >
            <nz-form-control>
              <label nz-checkbox formControlName="theories" id="theories"></label>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label
              [nzSpan]="3"
              nzLabelAlign="left"
              for="solution"
              nzTooltipTitle="Afficher le bouton 'Solution' des exercices si disponible."
              >Solution</nz-form-label
            >
            <nz-form-control>
              <label nz-checkbox formControlName="solution" id="solution"></label>
            </nz-form-control>
          </nz-form-item>
        </nz-collapse-panel>
        <nz-collapse-panel formGroupName="feedback" nzHeader="Feedback" nzExpandedIcon="message" nzActive>
          <nz-form-item>
            <nz-form-label
              [nzSpan]="3"
              nzLabelAlign="left"
              for="validation"
              nzTooltipTitle="Afficher le feedback des exercices après une validation."
              >Validation</nz-form-label
            >
            <nz-form-control>
              <label nz-checkbox formControlName="validation" id="validation"></label>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label
              [nzSpan]="3"
              nzLabelAlign="left"
              for="review"
              nzTooltipTitle="Afficher le feedback des exercices à la fin de l'activité."
              >Correction</nz-form-label
            >
            <nz-form-control>
              <label nz-checkbox formControlName="review" id="review"></label>
            </nz-form-control>
          </nz-form-item>
        </nz-collapse-panel>
        <nz-collapse-panel formGroupName="security" nzHeader="Sécurité" nzExpandedIcon="safety" nzActive>
          <nz-form-item>
            <nz-form-label
              [nzSpan]="5"
              nzLabelAlign="left"
              for="noCopyPaste"
              nzTooltipTitle="Une fois activée, cette option désactivera la fonctionnalité de copier-coller dans l'activité, incluant les raccourcis clavier (Ctrl/Cmd + C, Ctrl/Cmd + V, Ctrl/Cmd + X) et le clic droit."
              >Blocage du copier coller</nz-form-label
            >
            <nz-form-control>
              <label nz-checkbox formControlName="noCopyPaste" id="noCopyPaste"></label>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label
              [nzSpan]="5"
              nzLabelAlign="left"
              for="terminateOnLoseFocus"
              nzTooltipTitle="Si activée, cette option entraînera la fin automatique de l'activité en cas de clic en dehors de sa page, que ce soit sur une autre fenêtre ou en dehors du cadre de la page."
              >Terminer si clique en dehors</nz-form-label
            >
            <nz-form-control>
              <label nz-checkbox formControlName="terminateOnLoseFocus" id="terminateOnLoseFocus"></label>
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label
              [nzSpan]="5"
              nzLabelAlign="left"
              for="terminateOnLeavePage"
              nzTooltipTitle="Si activée, cette option entraînera la fin automatique de l'activité en cas de changement de visibilité de la page, tel qu'un changement d'onglet ou de fenêtre du système d'exploitation."
              >Terminer si changement de page</nz-form-label
            >
            <nz-form-control>
              <label nz-checkbox formControlName="terminateOnLeavePage" id="terminateOnLeavePage"></label>
            </nz-form-control>
          </nz-form-item>
        </nz-collapse-panel>
      </nz-collapse>
    </ng-container>
    <ng-container *ngIf="step === 2">
      <div class="exercise-group-container">
        <div class="exercise-group-list">
          <h3>Groupes d'exercices</h3>
          <mat-accordion
            cdkDropListGroup
            cdkDropList
            [cdkDropListDisabled]="readOnly"
            (cdkDropListDropped)="onReorderGroups($any($event))"
            class="draggable-container"
            multi
          >
            <mat-expansion-panel
              cdkDrag
              cdkDropList
              [cdkDropListDisabled]="readOnly"
              [cdkDropListData]="group"
              (cdkDropListDropped)="drop($any($event))"
              [cdkDropListConnectedTo]="['itemList']"
              id="panel{{ i }}"
              [class.selected]="selectedGroupIndex === i"
              (click)="selectGroup(i)"
              *ngFor="let group of exerciseGroups; trackBy: trackByIndex; index as i"
              class="expansion-panel draggable-item"
              #panel
            >
              <mat-expansion-panel-header>
                <mat-icon class="drag-icon">drag_indicator</mat-icon>
                <div class="group-header">
                  <div class="group-number">Groupe {{ i + 1 }}</div>
                  <div class="exercise-number">
                    <ng-container [ngPlural]="group.length">
                      <ng-template ngPluralCase="=0">0 exercice</ng-template>
                      <ng-template ngPluralCase="=1">1 exercice</ng-template>
                      <ng-template ngPluralCase="other">{{ group.length }} exercices</ng-template>
                    </ng-container>
                  </div>
                </div>
                <div class="button-div" #button>
                  <button
                    class="delete-button"
                    nz-button
                    nzDanger
                    nzType="text"
                    nz-tooltip="Supprimer"
                    [disabled]="readOnly"
                    (click)="deleteGroup(i)"
                  >
                    <span nz-icon nzType="close" nzTheme="outline"></span>
                  </button>
                </div>
              </mat-expansion-panel-header>
              <div class="mat-expansion-panel-content draggable-container">
                <nz-list
                  cdkDropList
                  [cdkDropListDisabled]="readOnly"
                  (cdkDropListDropped)="drop($any($event))"
                  [cdkDropListConnectedTo]="connectedTo[i]"
                  [cdkDropListData]="group"
                  (cdkDropListDropped)="onReorderExercises($any($event))"
                  [nzDataSource]="group"
                  nzBordered
                  class="draggable-container"
                  id="array{{ i }}"
                >
                  <!-- NE PAS METTRE SON PROPRE PANEL -->
                  <div
                    *ngFor="let exercise of group; trackBy: trackByExerciseId; index as i"
                    class="draggable-item exercise-in-group"
                    cdkDrag
                  >
                    <app-pla-exercise-editor
                      [disabled]="readOnly"
                      [exercise]="exercise"
                      (exerciseChange)="updateExercise($event)"
                      (deleteClicked)="deleteExercise(i)"
                    />
                  </div>
                </nz-list>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <button nz-button nzType="primary" [disabled]="readOnly" (click)="addGroup()">
            <span nz-icon nzType="plus" nzTheme="outline"></span><span>Ajouter un groupe</span>
          </button>
        </div>
        <div class="exercise-list" *ngIf="selectedGroup !== undefined">
          <ng-template [ngTemplateOutlet]="exerciseList"></ng-template>
        </div>
      </div>
    </ng-container>
  </form>
</div>
<ng-template #exerciseList>
  <h3>
    <nz-breadcrumb>
      <nz-breadcrumb-item>Groupe {{ selectedGroupIndex! + 1 }}</nz-breadcrumb-item>
      <nz-breadcrumb-item>Exercices</nz-breadcrumb-item>
    </nz-breadcrumb>
  </h3>

  <div class="add-exercise">
    <!-- <resource-search-bar
      [modalMode]="true"
      [simpleLayout]="true"
      [disabled]="!!readOnly"
      [(ngModel)]="selectedExercise"
      [filters]="{ types: ['EXERCISE'], watchers: [user.id] }"
    /> -->
    <ui-search-bar [searchbar]="searchbar">
      <ng-template let-context> {{ context }}</ng-template>
    </ui-search-bar>
    <span>Liste des exercices disponibles</span>
    <!-- ajouter dans le cercle... machin-->
  </div>

  <app-exercise-list
    cdkDropList
    id="itemList"
    [cdkDropListDisabled]="readOnly"
    [cdkDropListConnectedTo]="allConnectedTo"
    [cdkDropListData]="items"
    (exerciseClicked)="handleExerciseClicked($event)"
    [items]="items"
  >
    <h2>Aucune ressource ne correspond à votre recherche</h2>
    <ul>
      <li>Vérifiez les termes de votre recherche</li>
      <li>Essayez d'autres critères de recherche</li>
    </ul>
  </app-exercise-list>
  <nz-spin class="spinner-pagination" nzSize="large" [nzTip]="'Chargement...'" [nzSpinning]="paginating" />
  <div style="height: 8px" *ngIf="hasMore" viewportIntersection (intersected)="loadMore()"></div>
</ng-template>
