<div *ngIf="loading" [@fadeOutDownOnLeave] class="loading-container">
  <header>
    <nz-skeleton [nzActive]="true" [nzLoading]="true" [nzParagraph]="{ rows: 1 }" />
  </header>
  <main>
    <nz-skeleton [nzActive]="true" [nzLoading]="true" [nzParagraph]="{ rows: 20 }" />
    <nz-skeleton [nzActive]="true" [nzLoading]="true" [nzParagraph]="{ rows: 20 }" />
  </main>
  <footer>
    <nz-skeleton [nzActive]="true" [nzLoading]="true" [nzParagraph]="{ rows: 1 }" />
  </footer>
</div>
<nz-spin *ngIf="loading" [@fadeInOnEnter] nzTip="Préparation de l'éditeur..." nzSize="large" nzSpinning />
<ide-root *ngIf="isReady" [class.loading]="loading">
  <h2>Bienvenue dans l'environnement de développement</h2>
  <p>
    Pour une documentation complète,
    <a style="padding: 0" nz-button nzType="link" href="/docs/main/programing/ide" target="_blank"
      >accèdez à la documentation.</a
    >
  </p>
  <button nz-button nzType="primary" (click)="introTour()">Faire le tour des fonctionnalités</button>
</ide-root>
