<div class="no-account">
  <mat-card>
    <img class="yank" src="assets/images/illustrations/yank.jpg" alt="Yank the cat" />
    <span class="yank-text hide-on-mobile">Yank vous juge...</span>
    <div class="description">
      <img class="logo" src="assets/images/logo/platon.svg" alt="PLaTon logo" [routerLink]="'/'" />
      <h3>Vous n'avez pas de compte sur PLaTon ?</h3>
      <a nz-button nzType="primary" nzShape="round" href="/docs/main/overview/login"> Accéder à la documentation </a>
    </div>
  </mat-card>
</div>
