<div class="message">
  <h2>Voici les éléments contenus dans {{ fileName }} :</h2>
  <div class="tree-container">
    <nz-tree nzBlockNode [nzData]="nodes" (nzClick)="openFolder($event)" [nzTreeTemplate]="nzTreeTemplate"></nz-tree>
    <ng-template #nzTreeTemplate let-node let-origin="origin">
      <span class="custom-node">
        <span *ngIf="!node.isLeaf" (contextmenu)="contextMenu($event, menu)">
          <span nz-icon [nzType]="node.isExpanded ? 'folder-open' : 'folder'"></span>
          <span class="folder-name">{{ node.title }}</span>
        </span>
        <span *ngIf="node.isLeaf" (contextmenu)="contextMenu($event, menu)">
          <span nz-icon nzType="file"></span>
          <span class="file-name">{{ node.title }}</span>
        </span>
      </span>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <ul nz-menu>
          <li nz-menu-item (click)="extractFile(node)">Extraire</li>
        </ul>
      </nz-dropdown-menu>
    </ng-template>
  </div>
</div>
