<ui-layout-tabs [state]="context.state">
  <ng-container *ngIf="context.resource">
    <nz-page-header [nzSubtitle]="header" nzBackIcon>
      <ng-template #header>
        <nz-breadcrumb nzSeparator="" nzRouteLabel="breadcrumb">
          <button
            *ngIf="context.circles"
            nz-button
            nzType="text"
            nzSize="small"
            [nz-popover]
            [nzPopoverContent]="treeTemplate"
          >
            <mat-icon>account_tree</mat-icon>
            <ng-template #treeTemplate>
              <resource-circle-tree [tree]="context.circles" />
            </ng-template>
          </button>
          <nz-breadcrumb-item *ngIf="context.parent">
            <a [routerLink]="['/resources', context.parent.id]">{{ context.parent.name }}</a>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item>
            <mat-icon>{{ context.resource.type | resourceIcon }}</mat-icon>
            <span
              nz-typography
              [nzEditable]="context.resource.permissions.write"
              [nzContent]="context.resource.name"
              (nzContentChange)="updateName($event)"
            ></span>
          </nz-breadcrumb-item>
          <div class="spacer"></div>
        </nz-breadcrumb>
      </ng-template>
    </nz-page-header>
    <p
      nz-typography
      [nzEditable]="context.resource.permissions.write"
      [nzContent]="context.resource.desc"
      (nzContentChange)="updateDesc($event)"
    ></p>
    <div class="container-actions">
      <nz-button-group>
        <nz-select
          id="status"
          name="status"
          nzShowSearch
          [ngModel]="context.resource.status"
          (ngModelChange)="updateStatus($event)"
          [nzDisabled]="!context.resource.permissions.write"
        >
          <nz-option
            *ngFor="let item of status; trackBy: trackByValue"
            [nzLabel]="item | resourceStatus"
            [nzValue]="item"
          />
        </nz-select>
      </nz-button-group>
      <nz-button-group>
        <button nz-button nzType="default" (click)="changeWatchingState()">
          <i nz-icon nzType="eye" nzTheme="outline"></i>
          {{ context.resource.permissions.watcher ? 'Ne plus suivre' : 'Suivre' }}
        </button>
      </nz-button-group>
      <div class="spacer"></div>
      <nz-button-group *ngIf="context.resource.type !== 'CIRCLE'">
        <button nz-button (click)="iframe.open(context.editorUrl!)">
          <i nz-icon nzType="edit" nzTheme="outline"></i>
          Éditer
        </button>
        <button nz-button nzType="primary" (click)="iframe.open(context.previewUrl!)">
          <i nz-icon nzType="play-circle" nzTheme="outline"></i>
          Prévisualiser
        </button>
      </nz-button-group>
    </div>
  </ng-container>
  <ui-layout-tab [link]="['overview']">
    <ng-template>
      <span nz-icon nzType="dashboard" nzTheme="outline"></span>
      Vue d'ensemble
    </ng-template>
  </ui-layout-tab>
  <ui-layout-tab [link]="['browse']">
    <ng-template>
      <span nz-icon nzType="folder" nzTheme="outline"></span>
      Explorer
    </ng-template>
  </ui-layout-tab>
  <ui-layout-tab [link]="['events']">
    <ng-template>
      <span nz-icon nzType="history" nzTheme="outline"></span>
      Évènements
    </ng-template>
  </ui-layout-tab>
  <ui-layout-tab [link]="['settings']" [linkParams]="{ tab: 'informations' }">
    <ng-template>
      <span nz-icon nzType="setting" nzTheme="outline"></span>
      Paramètres
    </ng-template>
  </ui-layout-tab>
</ui-layout-tabs>

<ui-modal-iframe #iframe />
