<ui-layout-tabs [state]="context.state">
  <ng-container *ngIf="context.resource">
    <nz-page-header [nzSubtitle]="header" nzBackIcon>
      <ng-template #header>
        <nz-breadcrumb nzSeparator="" nzRouteLabel="breadcrumb">
          <button
            *ngIf="context.circles"
            class="hide-on-mobile"
            nz-button
            nzType="text"
            nzSize="small"
            [nz-popover]
            [nzPopoverContent]="circleTreePopover"
          >
            <mat-icon>account_tree</mat-icon>
            <ng-template #circleTreePopover>
              <resource-circle-tree [tree]="context.circles" />
            </ng-template>
          </button>
          <nz-breadcrumb-item class="hide-on-mobile" *ngIf="context.parent">
            <a [routerLink]="['/resources', context.parent.id]">{{ context.parent.name }}</a>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item>
            <mat-icon>{{ context.resource.type | resourceIcon }}</mat-icon>
            <span
              nz-typography
              [nzEditable]="!context.resource.personal && context.resource.permissions?.write"
              [nzContent]="context.resource.name"
              (nzContentChange)="updateName($event)"
            ></span>
          </nz-breadcrumb-item>
        </nz-breadcrumb>
      </ng-template>
    </nz-page-header>
    <p
      nz-typography
      *ngIf="!isOtherPersonal"
      [nzEditable]="!context.resource.personal && context.resource.permissions?.write"
      [nzContent]="context.resource.desc"
      (nzContentChange)="updateDesc($event)"
    ></p>
    <div class="container-toolbar">
      <nz-button-group>
        <nz-select
          id="status"
          name="status"
          nzShowSearch
          [ngModel]="context.resource.status"
          (ngModelChange)="updateStatus($event)"
          [nzDisabled]="!context.resource.permissions?.write"
        >
          <nz-option
            *ngFor="let item of status; trackBy: trackByValue"
            [nzLabel]="item | resourceStatus"
            [nzValue]="item"
          />
        </nz-select>
      </nz-button-group>
      <nz-button-group>
        <button
          nz-tooltip="Suivre une ressource vous permet notamment de l'ajouter dans vos cours/activités et de recevoir des notifications lorsqu'elle est mise à jour."
          nz-button
          nzType="default"
          [nzLoading]="isChangingWatchingState"
          (click)="changeWatchingState()"
        >
          <i nz-icon nzType="eye" nzTheme="outline"></i>
          <span class="hide-on-mobile">{{ context.resource.permissions?.watcher ? 'Ne plus suivre' : 'Suivre' }}</span>
        </button>
        <button
          *ngIf="
            context.user?.role !== 'admin' &&
            context.resource.type === 'CIRCLE' &&
            !context.resource.permissions?.member &&
            !context.resource.permissions?.waiting &&
            context.resource.ownerId !== context.user?.id
          "
          nz-button
          nzType="default"
          (click)="join()"
        >
          <i nz-icon nzType="user-add" nzTheme="outline"></i>
          <span class="hide-on-mobile">Demander à rejoindre</span>
        </button>
        <button *ngIf="context.resource.permissions?.waiting" nz-button nzDanger nzType="default" (click)="unjoin()">
          <i nz-icon nzType="user-add" nzTheme="outline"></i>
          <span class="hide-on-mobile">Annuler la demande de rejoindre</span>
        </button>
      </nz-button-group>
      <div class="spacer"></div>
      <nz-button-group>
        <button
          *ngIf="isAdmin() && context.resource.type !== 'CIRCLE' && !context.resource.parent?.personal!"
          nz-button
          nzType="primary"
          nzDanger
          nz-tooltip
          nzTooltipTitle="Renvoyer dans le cercle du créateur"
          nz-popconfirm
          nzOkText="Retirer"
          nzOkType="danger"
          nzPopconfirmTitle="Êtes-vous sûr de vouloir renvoyer cette ressource dans le cercle personnel de son créateur ?"
          (nzOnConfirm)="moveToOwnerCircle()"
        >
          <i nz-icon nzType="logout" nzTheme="outline"></i>
        </button>
        <button
          *ngIf="context.resource.type !== 'CIRCLE' && context.resource.parent?.personal!"
          nz-button
          nzType="primary"
          nzDanger
          nz-popconfirm
          nzOkText="Supprimer"
          nzOkType="danger"
          [nzPopconfirmTitle]="resourceDeleteConfirmMessage"
          (nzOnConfirm)="delete()"
          [nzOkDisabled]="referencesNumber() !== 0"
        >
          <i nz-icon nzType="delete" nzTheme="outline"></i>
          <span class="hide-on-mobile">Supprimer</span>
        </button>
        <button
          *ngIf="context.resource.type === 'EXERCISE' && canMove()"
          nz-button
          [routerLink]="['/resources/move']"
          [queryParams]="{ type: 'EXERCISE', id: context.resource.id, parent: context.resource.parentId }"
        >
          <i nz-icon nzType="copy" nzTheme="outline"></i>
          <span class="hide-on-mobile">Déplacer</span>
        </button>
        <button nz-button (click)="openTab(context.editorUrl!)">
          <i nz-icon nzType="edit" nzTheme="outline"></i>
          <span class="hide-on-mobile">Ouvrir dans l'éditeur</span>
        </button>
        <button
          *ngIf="context.resource.type !== 'CIRCLE'"
          nz-button
          [nz-popover]
          nzPopoverPlacement="left"
          [nzPopoverTrigger]="'click'"
          [nzPopoverContent]="sharingPopover"
        >
          <i nz-icon nzType="link" nzTheme="outline"></i>
          <span class="hide-on-mobile">Partager</span>
        </button>
        <button
          *ngIf="context.resource.type !== 'CIRCLE'"
          nz-button
          nzType="primary"
          (click)="iframe.open(context.previewUrl!)"
        >
          <i nz-icon nzType="play-circle" nzTheme="outline"></i>
          <span class="hide-on-mobile">Prévisualiser</span>
        </button>
      </nz-button-group>
    </div>
  </ng-container>
  <ui-layout-tab [link]="['overview']">
    <ng-template>
      <span nz-icon nzType="dashboard" nzTheme="outline"></span>
      Vue d'ensemble
    </ng-template>
  </ui-layout-tab>
  <ui-layout-tab [link]="['browse']">
    <ng-template>
      <span nz-icon nzType="folder" nzTheme="outline"></span>
      Explorer
    </ng-template>
  </ui-layout-tab>
  <ui-layout-tab [link]="['events']">
    <ng-template>
      <span nz-icon nzType="history" nzTheme="outline"></span>
      Évènements
    </ng-template>
  </ui-layout-tab>
  <ui-layout-tab [link]="['settings']" [linkParams]="{ tab: 'informations' }">
    <ng-template>
      <span nz-icon nzType="setting" nzTheme="outline"></span>
      Paramètres
    </ng-template>
  </ui-layout-tab>
</ui-layout-tabs>

<ui-modal-iframe width="100vw" height="100vh" #iframe [closable]="true" />

<ng-template #sharingPopover>
  <resource-sharing [resourceId]="context.resource!.id" [canEditSharing]="context.resource!.permissions!.write" />
</ng-template>

<ng-template #resourceDeleteConfirmMessage>
  <div class="resource-delete-message">
    @if (referencesNumber() === 0) {
    <p>Êtes-vous sûr de vouloir supprimer cette ressource ?</p>
    } @else {
    <p>Vous ne pouvez pas supprimer cette ressource car {{ referencesNumber() }} ressources en dépendent.</p>
    <button
      nz-button
      class="btn-show-references"
      nzType="link"
      [routerLink]="['/resources']"
      [queryParams]="{ dependOn: [context.resource!.id] }"
    >
      Afficher les dépendances
    </button>
    }
  </div>
</ng-template>
