nz-breadcrumb {
  font-size: 1.5em;
  display: flex;
  &::ng-deep {
    .ant-breadcrumb-link {
      display: inline-flex;
      align-items: center;
      mat-icon {
        margin: 0 8px;
      }
    }
  }
}

nz-button-group {
  margin: 0 8px 0 0;
}

button img, a img {
  width: 18px;
  height: 18px;
}


nz-select {
  width: 164px;
}

.spacer {
  flex: 1;
}

@media (min-width: 720px) {
  p {
    width: 70%;
  }
}
