<nav *ngIf="user">
  <img class="logo" src="assets/images/logo/platon.svg" alt="Logo PLaTon" [routerLink]="'/dashboard'" />
  <a class="nav-link" mat-button [routerLink]="'/dashboard'" [routerLinkActive]="'active'">
    <mat-icon>dashboard</mat-icon>
    Tableau de bord
  </a>
  <a class="nav-link" mat-button [routerLink]="'/courses'" [routerLinkActive]="'active'">
    <mat-icon>local_library</mat-icon>
    Cours
  </a>

  <a class="nav-link" mat-button [routerLink]="'/corrections'" *ngIf="user.role !== 'demo'" [routerLinkActive]="'active'">
    <mat-icon>rate_review</mat-icon>
    Corrections
  </a>
  <!--
  <a class="nav-link" mat-button [routerLink]="'/forum'" [routerLinkActive]="'active'">
    <mat-icon>chat</mat-icon>
    Forum
  </a>
  -->
  <ng-container *ngIf="user.role !== 'student' && user.role !== 'demo'">
    <a class="nav-link" mat-button [routerLink]="'/resources'" [routerLinkActive]="'active'">
      <mat-icon>work</mat-icon>
      Espace de travail
    </a>
  </ng-container>
  <ng-container *ngIf="user.role === 'admin'">
    <a class="nav-link" mat-button [routerLink]="'/admin'" [routerLinkActive]="'active'">
      <mat-icon>admin_panel_settings</mat-icon>
      Administration
    </a>
  </ng-container>
  <div class="spacer"></div>
  <img class="doc" src="assets/images/illustrations/doc.png" alt="Logo PLaTon"/>
  <a mat-button [routerLink]="'/docs'">
    <mat-icon>local_library</mat-icon>
    Documentation
  </a>
</nav>
