<div>
  <div>
    <h3>Variables</h3>
    <p>
      Définissez ici une liste de variables qui peuvent être spécifiées depuis une activité pour
      remplacer celles définies dans votre exercice.
    </p>
    <nz-list [nzDataSource]="inputs" nzBordered>
      <nz-list-item
        [class.selected]="selectionIndex === i"
        *ngFor="let input of inputs; trackBy: trackByIndex; index as i"
        (click)="selectInput(i)"
      >
        <span>{{ input.name }}</span>
        <ul nz-list-item-actions>
          <nz-list-item-action>
            <button
              nz-button
              nzDanger
              nzType="text"
              nz-tooltip="Supprimer"
              (click)="deleteInput(i)"
            >
              <span nz-icon nzType="delete" nzTheme="outline"></span>
            </button>
          </nz-list-item-action>
        </ul>
      </nz-list-item>
    </nz-list>
    <button class="btn-add-input" nz-button nzType="primary" (click)="addInput()">+</button>
  </div>
  <div class="container-selection" formGroupName="selection" *ngIf="selection">
    <app-ple-input [input]="selection" (inputChange)="onChangeInput($event)" />
  </div>
</div>
