:host {
  display: block;
  width: 100%;
}

.exercise {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.override-editor {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

nge-monaco-editor {
  --editor-height: 300px;
  width: 100%;
}

resource-item {
  display: block;
  width: 100%;
}
