<ng-container *ngIf="exercise.resource|resourceFind|async as resource">
  <div class="exercise">
    <resource-item [item]="resource"  [simple]="true" [modalMode]="true" />
    <ul nz-list-item-actions>
      <nz-list-item-action>
        <button *ngIf="!overriding"
          nz-button
          nzType="text"
          nz-tooltip="Remplacer des variables"
          (click)="overriding = !overriding">
          <span nz-icon nzType="form" nzTheme="outline"></span>
        </button>
      </nz-list-item-action>
      <nz-list-item-action>
        <button nz-button nzDanger nzType="text" nz-tooltip="Supprimer" (click)="deleteClicked.emit()">
          <span nz-icon nzType="delete" nzTheme="outline"></span>
        </button>
      </nz-list-item-action>
    </ul>
  </div>
  <ng-container *ngIf="overriding">
    <div class="override-editor">
      <nge-monaco-editor (ready)="onCreateEditor($any($event))" />
      <button nz-button nzType="text" nz-tooltip="Fermer" (click)="overriding = false">
        <span nz-icon nzType="close-circle" nzTheme="outline"></span>
      </button>
    </div>
  </ng-container>
</ng-container>
