:host {
  display: block;
}

nz-page-header {
  padding-left: 0;
}

.spacer {
  flex: 1;
}

.no-margin-left {
  margin-left: 0 !important;
}

section,
mat-card,
course-activity-card {
  margin: 1rem 0;
}
