<ui-layout-block [state]="context.state">
  <ng-container *ngIf="context.course && context.results && context.activity">
    <nz-page-header [nzSubtitle]="header" nzBackIcon>
      <ng-template #header>
        <nz-breadcrumb nzSeparator="">
          <nz-breadcrumb-item>
            <mat-icon class="no-margin-left">local_library</mat-icon>
            <a [routerLink]="['/courses', context.course.id]">{{ context.course.name }}</a>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item>
            <mat-icon>widgets</mat-icon>
            {{ context.activity.title }}
          </nz-breadcrumb-item>
          <div class="spacer"></div>
        </nz-breadcrumb>
      </ng-template>
    </nz-page-header>
    <nz-row [nzGutter]="[24, 24]" nzAlign="top">
      <nz-col nzXs="24" nzSm="24" nzMd="16" nzLg="16" nzXl="16">
        <h4>Vue d'ensemble</h4>
        <p>Ces données sont calculées uniquement sur les sessions des participants qui ont ouvert l'activité.</p>
        <nz-row [nzGutter]="[24, 24]" nzAlign="top">
          <nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
            <ui-statistic-card
              matIcon="star"
              ribbonColor="#7f8c8d"
              description="Note moyenne"
              [value]="context.results.averageScore"
              valueSuffix=" / 100"
              tooltip="Moyenne de la note des sessions complétées."
              shouldBePositive
            />
          </nz-col>
          <nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
            <ui-statistic-card
              matIcon="access_time"
              ribbonColor="#f39c12"
              description="Durée moyenne"
              tooltip="La durée d'une session d'activité est l'intervalle de temps entre le début et la fin de la session incluant les pauses prolongées."
              [value]="context.results.averageDuration | duration"
            />
          </nz-col>

          <nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
            <ui-statistic-card
              matIcon="check_circle"
              ribbonColor="#8e44ad"
              valueSuffix="%"
              description="Taux de réussite"
              tooltip="Pourcentage des sessions complétées avec une note de 100."
              [value]="(context.results.successRate | number : '1.0-0')!"
              shouldBePositive
            />
          </nz-col>
          <nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
            <ui-statistic-card
              matIcon="done"
              ribbonColor="#f1c40f"
              valueSuffix="%"
              description="Taux de réponses"
              tooltip="Pourcentage des sessions complétées avec au moins un exercice répondu."
              [value]="context.results.answerRate"
              shouldBePositive
            />
          </nz-col>
          <nz-col nzXs="24" nzSm="24" nzMd="12" nzLg="12" nzXl="12">
            <ui-statistic-card
              matIcon="clear"
              ribbonColor="#16a085"
              valueSuffix="%"
              description="Taux d'abandon"
              tooltip="Pourcentage des sessions complétées avec au moins un exercice non répondu"
              [value]="(context.results.dropoutRate | number : '1.0-0')!"
              shouldBeZero
            />
          </nz-col>
        </nz-row>
        <ng-container *ngIf="context.results">
          <div class="spacer"></div>
          <section>
            <h4>Résultats par exercices</h4>
            <result-by-exercises [results]="context.results.exercises" />
          </section>
          <section>
            <mat-card *ngIf="KCileInsightsOption.selectedBucket >= 2">
              <mat-card-header>
                <nz-select
                  nzPlaceHolder="Sceaux"
                  [(ngModel)]="KCileInsightsOption.selectedBucket"
                  [nzOptions]="KCileInsightsOption.possibleBucket"
                ></nz-select>
                <nz-range-picker
                  nzFormat="dd/MM/yyyy"
                  [(ngModel)]="dates"
                  (ngModelChange)="onDateChange($event)"
                ></nz-range-picker>
              </mat-card-header>
              <mat-card-content style="height: 25rem; padding-bottom: 0">
                <result-k-cile
                  [bucket]="KCileInsightsOption.selectedBucket"
                  [data]="userDistribution"
                  [lastDate]="lastDate"
                  [splitDate]="splitDate"
                />
              </mat-card-content>
              <mat-card-actions style="display: flex; flex-direction: column; align-items: unset; padding-top: 0">
                <nz-row nzGutter="8" style="display: flex; justify-content: center">
                  <nz-col nzSpan="12">
                    <nz-slider
                      [nzMin]="1"
                      [nzMax]="100"
                      [(ngModel)]="cursorValue"
                      (ngModelChange)="splitDateChange($event)"
                    ></nz-slider>
                  </nz-col>
                  <div nz-col nzSpan="4">
                    <nz-input-number
                      style="width: unset; color: var(--brand-text-primary)"
                      [nzMin]="1"
                      [nzMax]="100"
                      [nzFormatter]="formatterDate"
                      [(ngModel)]="cursorValue"
                      (ngModelChange)="splitDateChange($event)"
                    ></nz-input-number>
                  </div>
                </nz-row>
              </mat-card-actions>
            </mat-card>
          </section>
        </ng-container>
        <ng-container *ngIf="context.activity.isPeerComparison"
          ><peer-tree [activityId]="context.activity.id"></peer-tree
        ></ng-container>
      </nz-col>
      <nz-col nzXs="24" nzSm="24" nzMd="8" nzLg="8" nzXl="8">
        <aside>
          <course-activity-card [item]="context.activity" />
          <result-legend />
        </aside>
      </nz-col>
    </nz-row>
    <section>
      <mat-card>
        <mat-card-header>
          <h4>Boîte à moustaches</h4>
        </mat-card-header>
        <mat-card-content style="height: 25rem; padding-bottom: 0">
          <result-box-plot [data]="context.results.exercises"></result-box-plot>
        </mat-card-content>
      </mat-card>
    </section>
    <section>
      <h4>Résultats par apprenants</h4>
      <result-by-members [results]="context.results.users" />
    </section>
  </ng-container>
</ui-layout-block>
