:host {
  display: block;
  padding: 0 2rem;
}

:host::ng-deep {
  .ant-breadcrumb-link {
    display: inline-flex;
    align-items: center;
    mat-icon {
      margin: 0 8px;
    }
  }
}

nz-breadcrumb {
  font-size: 1.5em;
  display: flex;
  align-items: center;
  .ant-typography {
    color: #586069 !important;
  }
}

nz-breadcrumb-item {
  display: inline-flex;
  align-items: center;
}

.spacer {
  flex: 1;
}

.no-margin-left {
  margin-left: 0 !important;
}

section,
mat-card,
course-activity-card {
  margin: 1rem 0;
}
