<h1>Espace de travail</h1>
<header>
  <ui-search-bar [searchbar]="searchbar" (filter)="filterDrawer.open()">
    <ng-template let-context> {{ context }}</ng-template>
  </ui-search-bar>
  <button
    *ngIf="canCreateResource"
    nz-button
    nzType="primary"
    nzShape="round"
    nzSize="large"
    nz-popover
    [nzPopoverContent]="actions"
  >
    <span nz-icon nzType="plus" nzTheme="outline"></span>
  </button>
  <ng-template #actions>
    <button
      *ngIf="canCreateCircle"
      nz-button
      nzType="link"
      [routerLink]="['/resources/create']"
      [queryParams]="{ type: 'CIRCLE' }"
    >
      <mat-icon>{{ 'CIRCLE' | resourceIcon }}</mat-icon>
      <span>Créer un cercle</span>
    </button>
    <button
      *ngIf="canCreateExercise"
      nz-button
      nzType="link"
      [routerLink]="['/resources/create']"
      [queryParams]="{ type: 'EXERCISE' }"
    >
      <mat-icon>{{ 'EXERCISE' | resourceIcon }}</mat-icon>
      <span>Créer un exercice</span>
    </button>
    <button
      *ngIf="canCreateActivity"
      nz-button
      nzType="link"
      [routerLink]="['/resources/create']"
      [queryParams]="{ type: 'ACTIVITY' }"
    >
      <mat-icon>{{ 'ACTIVITY' | resourceIcon }}</mat-icon>
      <span>Créer une activité</span>
    </button>
  </ng-template>
</header>
<main class="content">
  <article>
    <ng-container *ngIf="!searching; else spinner">
      <h2 *ngIf="items.length">Voici ce qu'on a trouver selon vos critères de recherche...</h2>
      <div class="indicators">
        <ui-filter-indicators
          [filters]="filters"
          (filtersChange)="search($event, $event.search)"
          [indicators]="indicators"
        />
      </div>
      <resource-list [items]="items" (didTapTag)="search(filters, $event)">
        <h2>Aucune ressource ne correspond à votre recherche</h2>
        <ul>
          <li>Vérifiez les termes de votre recherche</li>
          <li>Essayez d'autres critères de recherche</li>
        </ul>
      </resource-list>
    </ng-container>
  </article>
  <aside>
    <nz-divider nzText="..." />
    <section>
      <resource-item *ngIf="circle" [item]="circle" />
    </section>
    <section>
      <mat-card>
        <mat-card-header>
          <mat-card-title> Vu récemment </mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <resource-list [items]="views" [simple]="true" />
        </mat-card-content>
      </mat-card>
    </section>
  </aside>
</main>

<ng-template #spinner>
  <nz-spin nzSimple nzSize="large" />
</ng-template>

<resource-filters
  #filterDrawer
  [filters]="filters"
  [circles]="circles"
  (triggered)="this.search($event, this.filters.search)"
/>
