h3 {
  margin-bottom: 1rem;
}

.config-editor::ng-deep {
  nz-input,
  nz-input-group,
  nz-select {
    background-color: #ffffff;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
  }

  nz-form-item {
    nz-form-label {
      font-weight: 500;
    }

    nz-form-control {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    p {
      text-align: right;
      margin: 0.5rem 0;
      width: 100%;
    }
  }
}
