<div id="drop-zone" class="drop-zone" dnd (dropped)="onDrop($event)">
  <span>
    {{ value || "Déposez un fichier ici depuis l'explorateur..." }}
  </span>
</div>
<ng-container *ngIf="value">
  <button nz-button nzType="text" nz-tooltip="Ouvrir" (click)="openFile()">
    <span nz-icon nzType="eye" nzTheme="outline"></span>
  </button>
  <button *ngIf="isContent" nz-button nzType="text" nz-tooltip="Changer en url" (click)="switchToUrl()">
    <span nz-icon nzType="link" nzTheme="outline"></span>
  </button>
  <button *ngIf="isUrl" nz-button nzType="text" nz-tooltip="Changer en contenu" (click)="switchToContent()">
    <span nz-icon nzType="file-text" nzTheme="outline"></span>
  </button>
  <button nz-button nzType="text" nz-tooltip="Supprimer" (click)="changeValue('')">
    <span nz-icon nzType="close" nzTheme="outline"></span>
  </button>
</ng-container>
