:host {
  display: block;
  width: 100vw;
  height: 100vh;
}

:host::ng-deep {
  .ant-breadcrumb-link {
    display: inline-flex;
    align-items: center;
    mat-icon {
      margin: 0 8px;
    }
  }

  nz-breadcrumb {
    font-size: 1.5em;
    display: flex;
    align-items: center;

    button {
      padding-left: 0;
      mat-icon {
        margin: 0;
      }
    }

    .ant-typography {
      color: #586069 !important;
    }
  }

  nz-breadcrumb-item {
    display: inline-flex;
    align-items: center;
  }
}

mat-drawer-container {
  width: 100vw;
  height: 100vh;
}

drawer-container {
  width: 100vw;
  height: 100vh;
  display: block;
}

mat-drawer {
  padding: 0;
  width: 240px;
  color: white !important;
  background: #3c2864;
  color: white;
}

mat-toolbar {
  background-color: transparent;
  app-toolbar {
    display: block;
    width: 100%;
  }
}

.router-outlet {
  padding: 0 2rem;
}

@media (max-width: 720px) {
  .router-outlet {
    padding: 0 1rem;
  }

  mat-toolbar {
    padding: 0;
  }
}
