$brand-color-primary: #171C8F;
$brand-color-primary-rgb: 23,28,143;
$brand-color-primary-contrast: #ffffff;
$brand-color-primary-contrast-rgb: 255,255,255;
$brand-color-primary-shade: #14197e;
$brand-color-primary-tint: #2e339a;

$brand-color-secondary: #3466fe;
$brand-color-secondary-rgb: 52, 102, 254;
$brand-color-secondary-contrast: #ffffff;
$brand-color-secondary-contrast-rgb: 255, 255, 255;
$brand-color-secondary-shade: #2e5ae0;
$brand-color-secondary-tint: #4875fe;

$brand-color-tertiary: #7044ff;
$brand-color-tertiary-rgb: 112, 68, 255;
$brand-color-tertiary-contrast: #ffffff;
$brand-color-tertiary-contrast-rgb: 255, 255, 255;
$brand-color-tertiary-shade: #633ce0;
$brand-color-tertiary-tint: #7e57ff;


// FOREGROUND LIGHT

$dark-text: #24292e;
$dark-primary-text: rgba($dark-text, 0.87);
$dark-accent-text: rgba($dark-primary-text, 0.54);
$dark-disabled-text: rgba($dark-primary-text, 0.38);
$dark-dividers: rgba($dark-primary-text, 0.12);
$dark-focused: rgba($dark-primary-text, 0.12);

$mat-light-theme-foreground: (
  base: $dark-text,
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba($dark-text, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: $dark-text,
  secondary-text: $dark-accent-text,
  hint-text: $dark-disabled-text,
  accent-text: $dark-accent-text,
  icon: $dark-accent-text,
  icons: $dark-accent-text,
  text: $dark-primary-text,
  slider-min: $dark-primary-text,
  slider-off: rgba($dark-text, 0.26),
  slider-off-active: $dark-disabled-text
);

// BACKGROUND LIGHT

$light-background: #FFFFFF;
$light-bg-darker-5: darken($light-background, 5%);
$light-bg-darker-10: darken($light-background, 10%);
$light-bg-darker-20: darken($light-background, 20%);
$light-bg-darker-30: darken($light-background, 30%);
$light-bg-lighter-5: lighten($light-background, 5%);
$dark-bg-alpha-4: rgba(#292d33, 0.04);
$dark-bg-alpha-12: rgba(#292d33, 0.12);

$mat-light-theme-background: (
  background: $light-background,
  status-bar: $light-bg-darker-20,
  app-bar: $light-bg-darker-5,
  hover: $dark-bg-alpha-4,
  card: $light-bg-lighter-5,
  dialog: $light-bg-lighter-5,
  disabled-button: $dark-bg-alpha-12,
  raised-button: $light-bg-lighter-5,
  focused-button: $dark-focused,
  selected-button: $light-bg-darker-20,
  selected-disabled-button: $light-bg-darker-30,
  disabled-button-toggle: $light-bg-darker-10,
  unselected-chip: $light-bg-darker-10,
  disabled-list-option: $light-bg-darker-10,
  tooltip: $dark-bg-alpha-4,
);

// FOREGROUND DARK

$light-text: #adbac7;
$light-primary-text: $light-text;
$light-accent-text: rgba($light-primary-text, 0.7);
$light-disabled-text: rgba($light-primary-text, 0.5);
$light-dividers: rgba($light-primary-text, 0.12);
$light-focused: rgba($light-primary-text, 0.12);

$mat-dark-theme-foreground: (
  base: $light-text,
  divider: $light-dividers,
  dividers: $light-dividers,
  disabled: $light-disabled-text,
  disabled-button: rgba($light-text, 0.3),
  disabled-text: $light-disabled-text,
  elevation: black,
  hint-text: $light-disabled-text,
  secondary-text: $light-accent-text,
  accent-text: $light-accent-text,
  icon: $light-text,
  icons: $light-text,
  text: $light-text,
  slider-min: $light-text,
  slider-off: rgba($light-text, 0.3),
  slider-off-active: rgba($light-text, 0.3)
);

// BACKGROUND DARK

$dark-background: #22272e;
$dark-bg-lighter-5: lighten($dark-background, 5%);
$dark-bg-lighter-10: lighten($dark-background, 10%);
$dark-bg-lighter-20: lighten($dark-background, 20%);
$dark-bg-lighter-30: lighten($dark-background, 30%);
$light-bg-alpha-4: rgba(#f6f6f6, 0.04);
$light-bg-alpha-12: rgba(#f6f6f6, 0.12);

$mat-dark-theme-background: (
  background: $dark-background,
  status-bar: $dark-bg-lighter-20,
  app-bar: $dark-bg-lighter-5,
  hover: $light-bg-alpha-4,
  card: $dark-bg-lighter-5,
  dialog: $dark-bg-lighter-5,
  disabled-button: $light-bg-alpha-12,
  raised-button: $dark-bg-lighter-5,
  focused-button: $light-focused,
  selected-button: $dark-bg-lighter-20,
  selected-disabled-button: $dark-bg-lighter-30,
  disabled-button-toggle: $dark-bg-lighter-10,
  unselected-chip: $dark-bg-lighter-20,
  disabled-list-option: $dark-bg-lighter-10,
  tooltip: $dark-bg-lighter-30,
);

// PALETTES

$mat-primary: (
  main: $brand-color-primary,
  lighter: $brand-color-primary-tint,
  darker: $brand-color-primary-shade,
  200: $brand-color-primary, // SLIDE TOGGLE COLOR
  contrast: (
    main: $light-primary-text,
    lighter: $light-primary-text,
    darker: $light-primary-text
  )
);

$mat-accent: (
  main: $brand-color-secondary,
  lighter: $brand-color-secondary-tint,
  darker: $brand-color-secondary-shade,
  200: $brand-color-primary, // SLIDE TOGGLE COLOR
  contrast: (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text
  )
);

$mat-warn: (
  main: $brand-color-tertiary,
  lighter: $brand-color-tertiary-tint,
  darker: $brand-color-tertiary-shade,
  200: $brand-color-primary, // SLIDE TOGGLE COLOR
  contrast: (
    main: $light-primary-text,
    lighter: $dark-primary-text,
    darker: $light-primary-text
  )
);

$theme-primary: mat.define-palette($mat-primary, main, lighter, darker);
$theme-accent: mat.define-palette($mat-accent, main, lighter, darker);
$theme-warn: mat.define-palette($mat-warn, main, lighter, darker);

