:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: calc(100% - 64px);
  padding: 2rem;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

main {
  flex: 1;
  display: block;
  width: 100%;
}

footer {
  display: flex;
  align-items: center;
  min-height: 10px;
  width: 100%;
  justify-content: center;
  button {
    margin: 0 12px;
  }
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  max-width: 720px;
  min-width: min(720px, 90vw);
  margin: 0 auto;
  padding: 4rem 0;
}

h1 {
  margin-bottom: 1.5rem;
  text-align: center;
}

h2, h3 {
  width: 100%;
  text-align: center;
  margin-bottom: 12px;
}

p {
  text-align: center;
}

form {
  width: 100%;
  mat-form-field {
    display: block;
    width: 100%;
    margin: 12px 0;
  }
}

nz-select {
  width: 100%;
}

nz-spin {
  display: block;
  width: 100%;
  padding: 4rem;
}

mat-checkbox {
  display: block;
}

.spacer {
  flex: 1;
}
