<ng-container *ngIf="tree && versions">
  <app-resource-browse-header
    [version]="context.version"
    [versions]="versions!"
    [resource]="context.resource!"
    [canPreview]="context.resource?.type !== 'CIRCLE'"
    [canCreateVersion]="!!context.resource?.permissions?.write"
    (edit)="openTab(context.editorUrl!)"
    (preview)="iframe.open(context.previewUrl!)"
    (refresh)="switchVersion($event)"
    (download)="files.download()"
    (upload)="files.upload()"
  />
  <resource-files
    #files
    [tree]="tree!"
    (selected)="openTab(context.editorUrl + '&files=' + $event.path)"
    (afterUpload)="refreshFiles()"
  />
  <ui-modal-iframe width="100vw" height="100vh" #iframe [closable]="true" (closed)="refreshFiles()" />
</ng-container>
