<div class="footer-container">
  <div class="footer-section">
    <h4><mat-icon>copyright</mat-icon> {{ today }} CISSTECH</h4>
    <p>PLaTon - La plateforme d'apprentissage et d'enseignement en ligne.</p>
  </div>
  <div class="footer-section">
    <h4>Liens Utiles</h4>
    <ul>
      <li><a href="#about">À propos</a></li>
      <li><a href="https://github.com/cisstech/platon">Github</a></li>
      <li><a href="https://cisstech.github.io/platon/docs/components">Composants</a></li>
      <li><a href="https://cisstech.github.io/platon/docs">Documentation</a></li>
    </ul>
  </div>
  <div class="footer-section">
    <h4>Contact</h4>
    <p><a href="mailto:contact@cisstech.com">contact&#64;cisstech.com</a></p>
  </div>
</div>
