<ui-layout-tabs [state]="context.state">
  <ng-container *ngIf="context.course">
    <nz-breadcrumb nzSeparator="">
      <nz-breadcrumb-item>
        <mat-icon>local_library</mat-icon>
        <span
          nz-typography
          nzEditable
          [nzContent]="context.course.name"
          (nzContentChange)="updateName($event)"
        ></span>
      </nz-breadcrumb-item>
      <div class="spacer"></div>
    </nz-breadcrumb>
    <p
      nz-typography
      nzEditable
      [nzContent]="context.course.desc"
      (nzContentChange)="updateDesc($event)"
    ></p>
  </ng-container>
  <ui-layout-tab [link]="['dashboard']">
    <ng-template>
      <mat-icon>dashboard</mat-icon>
      Tableau de bord
    </ng-template>
  </ui-layout-tab>
  <ui-layout-tab [link]="['teachers']">
    <ng-template>
      <mat-icon>supervised_user_circle</mat-icon>
      Enseignants
    </ng-template>
  </ui-layout-tab>
  <ui-layout-tab [link]="['students']">
    <ng-template>
      <mat-icon>people</mat-icon>
      Élèves
    </ng-template>
  </ui-layout-tab>
  <ui-layout-tab [link]="['settings']" [linkParams]="{ 'tab': 'informations' }">
    <ng-template>
      <mat-icon>settings</mat-icon>
      Paramètres
    </ng-template>
  </ui-layout-tab>
</ui-layout-tabs>
