<ui-layout-tabs [state]="context.state">
  <ng-container *ngIf="context.course as course">
    <header>
      <nz-page-header [nzSubtitle]="header" nzBackIcon>
        <ng-template #header>
          <nz-breadcrumb nzSeparator="">
            <nz-breadcrumb-item>
              <mat-icon>local_library</mat-icon>
              <span
                nz-typography
                [nzEditable]="course.permissions?.update"
                [nzContent]="course.name"
                (nzContentChange)="updateName($event)"
                class="title"
              ></span>
            </nz-breadcrumb-item>
            <div class="spacer"></div>
          </nz-breadcrumb>
        </ng-template>
      </nz-page-header>
    </header>
    <p
      nz-typography
      [nzEditable]="course.permissions?.update"
      [nzContent]="course.desc"
      (nzContentChange)="updateDesc($event)"
    ></p>
    <div class="container-toolbar">
      <nz-tag>
        <span nz-icon nzType="calendar" nzTheme="outline"></span>
        <span
          >Créé le {{ course.createdAt | date }} par
          <user-avatar [userIdOrName]="course.ownerId" noIcon showUsername="inline" />
        </span>
      </nz-tag>

      <div class="spacer"></div>
      <button
        *ngIf="course.permissions?.update"
        nz-button
        [nz-popover]
        nzPopoverPlacement="left"
        [nzPopoverTrigger]="'click'"
        [nzPopoverContent]="sharingPopover"
      >
        <i nz-icon nzType="link" nzTheme="outline"></i>
        Partager
      </button>
    </div>
  </ng-container>
  <ui-layout-tab [link]="['dashboard']">
    <ng-template>
      <span nz-icon nzType="dashboard" nzTheme="outline"></span>
      Vue d'ensemble
    </ng-template>
  </ui-layout-tab>
  <ui-layout-tab *ngIf="context.course?.statistic?.challengeCount" [link]="['challenges']">
    <ng-template>
      <span nz-icon nzType="trophy" nzTheme="outline"></span>
      Challenges
    </ng-template>
  </ui-layout-tab>
  <ui-layout-tab [link]="['members']">
    <ng-template>
      <span nz-icon nzType="team" nzTheme="outline"></span>
      Membres
    </ng-template>
  </ui-layout-tab>
  <ui-layout-tab [link]="['groups']">
    <ng-template>
      <span nz-icon nzType="team" nzTheme="outline"></span>
      Groupes
    </ng-template>
  </ui-layout-tab>
  <ui-layout-tab *ngIf="context.course?.permissions?.update" [link]="['settings']">
    <ng-template>
      <span nz-icon nzType="setting" nzTheme="outline"></span>
      Paramètres
    </ng-template>
  </ui-layout-tab>
</ui-layout-tabs>

<ng-template #sharingPopover>
  <course-sharing [courseId]="context.course!.id" />
</ng-template>
