<header>
  <h1>Ajouter une activité à votre cours</h1>
</header>
<main>
  <nz-skeleton [nzActive]="loading" [nzLoading]="loading">
    <ui-stepper #stepper (finished)="create()" (changed)="$event > 1 && loadMembers()">
      <!-- STEP 1 -->
      <ng-template #icon1>
        <mat-icon>local_library</mat-icon>
      </ng-template>
      <ng-template uiStepperStep stepTitle="Cours" [stepIcon]="icon1" [stepValidator]="!!courseInfo.valid || courseInfo.disabled">
        <section *ngIf="user">
          <form [formGroup]="courseInfo">
            <h4 id="course">Dans quel cours souhaitez-vous ajouter une activité ?</h4>
            <course-search-bar
              aria-labelledby="course"
              formControlName="course"
              [filters]="{ members: [user.id] }"
              />
            <h4 id="section">Dans quelle section du cours l'activité doit-elle être ajoutée ?</h4>
            <course-section-search-bar
              [course]="courseInfo.value.course"
              aria-labelledby="section"
              formControlName="section" />
          </form>
        </section>
      </ng-template>
      <!-- STEP 2 -->
      <ng-template #icon2>
        <mat-icon>widgets</mat-icon>
      </ng-template>
      <ng-template uiStepperStep stepTitle="Activité" [stepIcon]="icon2" [stepValidator]="!!resourceInfo.valid">
        <section>
          <form [formGroup]="resourceInfo">
            <h4 id="resource">
              Sélectionnez l'activité à ajouter à la section “{{courseInfo.value.section?.name}}” du cours “{{courseInfo.value.course?.name}}”.
            </h4>
            <resource-search-bar
              aria-labelledby="resource"
              formControlName="resource"
              [filters]="{ types: ['ACTIVITY'], watchers: [user.id] }"
              />
          </form>
        </section>
      </ng-template>
      <!-- STEP 3 -->
      <ng-template #icon3>
        <mat-icon>settings</mat-icon>
      </ng-template>
      <ng-template uiStepperStep stepTitle="Configuration" [stepIcon]="icon3">
        <section>
          <form [formGroup]="settingsInfo">
            <h4 id="openDates">Souhaitez-vous limiter l'accès de cette activité à une date en particulier?</h4>
            <nz-range-picker
              [nzShowTime]="true"
              [nzDisabledDate]="disabledDate"
              aria-labelledby="openDates"
              formControlName="openDates" />
            <h4 id="members">Souhaitez-vous limiter l'accès de cette activité à des utilisateurs en particulier?</h4>
            <p>Laissez la sélection vide pour permettre l'accès à tous, y compris aux nouveaux membres.</p>
            <course-member-table
              [members]="members"
              [selectable]="true"
              aria-labelledby="members"
              formControlName="members" />
          </form>
        </section>
      </ng-template>
    </ui-stepper>
  </nz-skeleton>
</main>
<footer>
  <ng-container *ngIf="creating; else: showControls">
    <nz-spin nzTip="Création de l'activité..."></nz-spin>
  </ng-container>
  <ng-template #showControls>
    <button
      *ngIf="!stepper.isFirst"
      nz-button
      [disabled]="stepper.isFirst"
      (click)="stepper.prevStep()">
      Précedent
    </button>
    <button
      nz-button
      nzType="primary"
      [disabled]="!stepper.isValid"
      (click)="stepper.nextStep()">
      {{ stepper.isLast ? 'Créer' : 'Suivant'}}
    </button>
  </ng-template>
</footer>
