<header>
  <nz-page-header [nzTitle]="header" nzBackIcon>
    <ng-template #header> Ajouter @if (challenge){ un challenge} @else { une activité } à votre cours</ng-template>
  </nz-page-header>
</header>
<main>
  <nz-skeleton [nzActive]="loading" [nzLoading]="loading">
    <ui-stepper #stepper (finished)="create()" (changed)="$event > 1 && loadMembers()">
      <!-- STEP 1 -->
      <ng-template #icon1>
        <mat-icon>local_library</mat-icon>
      </ng-template>
      <ng-template
        uiStepperStep
        stepTitle="Cours"
        [stepIcon]="icon1"
        [stepValidator]="!!courseInfo.valid || courseInfo.disabled"
      >
        <section *ngIf="user">
          <form [formGroup]="courseInfo">
            <h4 id="course">Dans quel cours souhaitez-vous ajouter une activité ?</h4>
            <course-search-bar aria-labelledby="course" formControlName="course" [filters]="{ members: [user.id] }" />
            <h4 id="section">Dans quelle section du cours l'activité doit-elle être ajoutée ?</h4>
            <course-section-search-bar
              [course]="courseInfo.value.course"
              aria-labelledby="section"
              formControlName="section"
            />
          </form>
        </section>
      </ng-template>
      <!-- STEP 2 -->
      <ng-template #icon2>
        <mat-icon>widgets</mat-icon>
      </ng-template>
      <ng-template uiStepperStep stepTitle="Activité" [stepIcon]="icon2" [stepValidator]="!!resourceInfo.valid">
        <section>
          <form [formGroup]="resourceInfo">
            <h4 id="resource">
              Sélectionnez l'activité à ajouter à la section “{{ courseInfo.value.section?.name }}” du cours “{{
                courseInfo.value.course?.name
              }}”.
            </h4>
            <resource-search-bar
              aria-labelledby="resource"
              formControlName="resource"
              [filters]="{ types: ['ACTIVITY'], watchers: [user.id] }"
            />
          </form>
        </section>
      </ng-template>
      <!-- STEP 3 -->
      <ng-template #icon3>
        <mat-icon>settings</mat-icon>
      </ng-template>
      <ng-template uiStepperStep stepTitle="Configuration" [stepIcon]="icon3">
        <section>
          <form [formGroup]="settingsInfo">
            <h4 id="challenge">Cette activité est-elle un challenge?</h4>
            <nz-radio-group [nzDisabled]="challenge" aria-labelledby="challenge" formControlName="isChallenge">
              <label nz-radio [nzValue]="true">Oui</label>
              <label nz-radio [nzValue]="false">Non</label>
            </nz-radio-group>
            <p>
              Les challenges sont des activités réalisables uniquement par les élèves du cours. Les résultats d'un
              challenge sont visibles par tous dans la page du cours.
            </p>
            <h4 id="openDates">Souhaitez-vous limiter l'accès de cette activité à une date en particulier?</h4>
            <nz-range-picker
              [nzShowTime]="true"
              [nzDisabledDate]="disabledDate"
              aria-labelledby="openDates"
              formControlName="openDates"
            />
            <ng-container *ngIf="!settingsInfo.value.isChallenge">
              <h4 id="members">Souhaitez-vous limiter l'accès de cette activité à des utilisateurs en particulier?</h4>
              <course-member-select
                [members]="members"
                aria-labelledby="members"
                formControlName="members"
                placeholder="Laissez la sélection vide pour permettre l'accès à tous, y compris aux nouveaux membres."
              />
              <h4 id="members">Souhaitez-vous limiter l'accès de cette activité à des groupes en particulier?</h4>
              <course-group-select
                [groups]="courseGroups"
                formControlName="groups"
                placeholder="Laissez la sélection vide pour permettre l'accès à tous, y compris aux nouveaux membres."
              />
              <h4 id="members">Souhaitez-vous assigner des correcteurs à cette activité?</h4>
              <course-member-select
                [members]="members"
                aria-labelledby="correctors"
                formControlName="correctors"
                placeholder="Laissez la sélection vide si cette activité est auto-corrigée."
              />
              <p>
                Les personnes désignées comme correcteurs recevront une notification une fois qu'un participant termine
                l'activité afin d'ajuster sa note si nécessaire. Si une activité contient des correcteurs, les résultats
                d'un participant lui sera affiché uniquement après la correction de toutes ses questions.
              </p>
            </ng-container>
          </form>
        </section>
      </ng-template>
    </ui-stepper>
  </nz-skeleton>
</main>
<footer>
  <ng-container *ngIf="creating; else showControls">
    <nz-spin nzTip="Création de l'activité..."></nz-spin>
  </ng-container>
  <ng-template #showControls>
    <button *ngIf="!stepper.isFirst" nz-button [disabled]="stepper.isFirst" (click)="stepper.prevStep()">
      Précedent
    </button>
    <button nz-button nzType="primary" [disabled]="!stepper.isValid" (click)="stepper.nextStep()">
      {{ stepper.isLast ? 'Créer' : 'Suivant' }}
    </button>
  </ng-template>
</footer>
