<ng-container *ngIf="tree && versions">
  <app-resource-browse-header
    [version]="version"
    [versions]="versions!"
    [resource]="context.resource!"
    (edit)="editing = true"
    (preview)="preview = true"
    (refresh)="refresh($event)" />
    <res-files [tree]="tree!" />
    <nz-modal
      [(nzVisible)]="editing"
      [nzBodyStyle]="{
        padding: '0',
        height: '90vh'
      }"
      nzClassName="resource-browse-modal"
      nzWidth="90vw"
      nzMask="true"
      nzClosable="false"
      nzCentered="true"
      nzMaskClosable="true"
      (nzOnOk)="refresh(version)"
      (nzOnCancel)="refresh(version)"
      [nzFooter]="modalFooter">
      <ng-container *nzModalContent>
        <app-resource-editor [resource]="context.resource!" [version]="version" />
      </ng-container>
    </nz-modal>
    <nz-modal
      [(nzVisible)]="preview"
      [nzBodyStyle]="{
        padding: '0',
        height: '90vh'
      }"
      nzClassName="resource-browse-modal"
      nzWidth="90vw"
      nzMask="true"
      nzClosable="false"
      nzCentered="true"
      nzMaskClosable="true"
      (nzOnOk)="preview = false"
      (nzOnCancel)="preview = false"
      [nzFooter]="modalFooter">
      <ng-container *nzModalContent>
        <iframe [src]="previewUrl|safe:'resource'" frameborder="0"></iframe>
      </ng-container>
    </nz-modal>
    <ng-template #modalFooter />
</ng-container>

