<form *ngIf="ready" [formGroup]="form" nz-form>
  <nz-collapse>
    <nz-collapse-panel nzHeader="Titre" nzExpandedIcon="link">
      <nz-form-item>
        <nz-form-control>
          <input nz-input formControlName="title" />
        </nz-form-control>
      </nz-form-item>
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="Instruction" nzExpandedIcon="unordered-list">
      <ui-editorjs [minHeight]="100" formControlName="statement" />
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="Formulaire" nzExpandedIcon="container">
      <ui-editorjs [minHeight]="100" formControlName="form" />
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="Variables" nzExpandedIcon="code" nzActive>
      <app-editor-input-group formControlName="variables" mode="ple" [reservedNames]="reservedNames" />
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="Construction" nzExpandedIcon="build">
      <app-ple-input mode="value" formControlName="builder" />
    </nz-collapse-panel>
    <nz-collapse-panel nzHeader="Évaluation" nzExpandedIcon="check-square">
      <app-ple-input mode="value" formControlName="grader" />
    </nz-collapse-panel>
  </nz-collapse>
</form>
