:host {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

ui-error {
  color: red;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

nz-spin {
  display: block;
  width: 100%;
  height: 100%;
  padding: 25%;
  text-align: center;
}
