:host {
  display: block;
}

i[nzType='branches'] {
  display: inline-block;
  margin-right: 8px;
}

nz-select {
  min-width: 100px;
  margin-right: 8px;
}

header {
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  margin: 0 auto;
}

form {
  width: 100%;
}

mat-form-field {
  display: block;
  width: 100%;
  margin: 12px 0;
}