<header>
  <nz-select
    [(ngModel)]="version"
    (ngModelChange)="refresh.emit($event)"
    [nzCustomTemplate]="versionTpt">
    <ng-template #versionTpt>
      <i nz-icon nzType="branches" nzTheme="outline"></i>
      {{version}}
    </ng-template>
    <nz-option nzLabel="latest"  nzValue="latest" />
    <nz-option
      *ngFor="let item of versions.all"
      [nzLabel]="item.tag"
      [nzValue]="item.tag" />
  </nz-select>
  <nz-button-group>
    <a
      nz-button
      nzType="primary"
      nz-tooltip="Prévisualiser"
      (click)="preview.emit()">
      <i nz-icon nzType="play-circle" nzTheme="outline"></i>
    </a>
    <button
      nz-button
      target="_blank"
      nz-tooltip="Éditer en ligne"
      (click)="edit.emit()">
      <i nz-icon nzType="edit" nzTheme="outline"></i>
    </button>
    <button
      nz-button
      nz-tooltip="Actualiser"
      (click)="refresh.emit(version)">
      <i nz-icon nzType="reload" nzTheme="outline"></i>
    </button>
  </nz-button-group>
<!--   <nz-button-group>
    <button nz-button>
      <i nz-icon nzType="folder-add" nzTheme="outline"></i>
    </button>
    <button nz-button>
      <i nz-icon nzType="file-add" nzTheme="outline"></i>
    </button>
  </nz-button-group> -->
  <div class="spacer"></div>
</header>
