:host {
  padding: 4rem 2rem;
}

.container {
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-content {
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 2rem;
  align-items: center;
}

.about-description {
  font-size: 1.1rem;
  line-height: 1.6;
}

.about-image {
  box-sizing: border-box;
  padding: 2rem;
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.about-features {
  display: flex;
  div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

h4 {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 1201px) {
  .about-content {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 768px) {
  .about-content {
    display: flex;
    flex-direction: column;
  }

  .about-features {
    flex-direction: column;
  }
}
