<div class="container">
  <h2>Présentation de PLaTon</h2>
  <div class="about-content">
    <div class="about-description">
      <h3>Évolution de PremierLangage</h3>
      <p>
        PLaTon, plateforme d'e-learning innovante et open-source, poursuit l'ambition de
        <a href="https://premierlangage.github.io/PLaTon-web/">PremierLangage</a>, née à l'université Gustave Eiffel
        grâce à l'impulsion de
        <a href="https://www.linkedin.com/pulse/platon-dominique-revuz/?trackingId=IDQar10vQ8iDNbbRZhR6fA%3D%3D"
          >Dominique Revuz</a
        >
        et de l'Institut Gaspard-Monge <a href="https://igm.u-pem.fr/">(I.G.M)</a>. Cette suite offre un environnement
        d'apprentissage flexible et accessible à tous grâce à l'utilisation de technologies récentes et adaptées.
      </p>
      <div class="about-features">
        <div>
          <h4>
            <mat-icon>touch_app</mat-icon>
            Accessibilité et simplicité
          </h4>
          <p>
            Conçue pour l'accessibilité, PLaTon privilégie une interface intuitive pour les enseignants, qu'ils soient
            initiés à la programmation ou non, et propose une expérience utilisateur fluide pour les étudiants.
          </p>
        </div>
        <div>
          <h4>
            <mat-icon>all_inclusive</mat-icon>
            Interdisciplinarité
          </h4>
          <p>
            La plateforme transcende les frontières disciplinaires, permettant la création d'exercices dans tous les
            domaines académiques, soutenue par une technologie flexible et évolutive.
          </p>
        </div>
        <div>
          <h4>
            <mat-icon>group_work</mat-icon>
            Collaboration enrichissante
          </h4>
          <p>
            PLaTon favorise un esprit de communauté en encourageant le partage et la réutilisation de ressources
            pédagogiques, créant ainsi un réseau dynamique d'enseignement collaboratif.
          </p>
        </div>
      </div>
    </div>
    <img class="about-image" src="assets/images/hero/hero-10.png" alt="Illustration of PLaTon platform" />
  </div>
</div>
