<div class="container">
  <h2>Fonctionnement de PLaTon</h2>
  <div class="operating-step">
    <mat-icon alt="Création d'exercices">edit</mat-icon>
    <h3>Création d'exercices</h3>
    <p>Utilisez notre éditeur intégré ou des templates pour créer des exercices interactifs.</p>
  </div>
  <div class="operating-step">
    <mat-icon alt="Participation des élèves">school</mat-icon>
    <h3>Participation des élèves</h3>
    <p>Les élèves accèdent aux activités et soumettent leurs réponses en ligne dans des environnement sécurisés.</p>
  </div>
  <div class="operating-step">
    <mat-icon alt="Analyse et Feedback">analytics</mat-icon>
    <h3>Analyse et Feedback</h3>
    <p>Obtenez des retours automatiques et suivez les progrès en temps réel.</p>
  </div>
</div>
