:host::ng-deep {
  .article-header {
    display: flex;
    align-items: flex-start;
  }
  .article-title {
    max-width: 75%;
    height: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  article.bordered {
    height: inherit;
    div.article-content-wrapper {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  .article-description {
    display: flex;
    height: 100%;
    align-items: center;
    padding-right: 5px;
    p {
      margin:0px;
      width: 85%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  .article-footer {
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .ant-ribbon {
    color: white;
    display: flex;
    float:left;
    mat-icon {
      width: 18px;
      height: 18px;
      font-size: 18px;
    }
  }

}

.spacer {
  flex: 1;
}

.action {
  cursor: pointer;
}

.icon-configurable {
  display: inline-block;
  margin-left: 0.5rem;
}

.resource-item-stats {
  color: var(--brand-text-secondary);
  font-size: 1rem;
}

.btn-show-references {
  padding: 0;
}

.customise-font {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.custom-popover {
  max-height: 20rem;
  overflow-y: auto;
  max-width: 40rem;
  padding-right: 1.2rem;
  margin-right: -0.8rem;
}

ui-list-item-article {
  width: 100%;
  height: 100%;
  text-overflow: ellipsis;
  border-radius: 0.5rem;
  border: 1px solid #DDDDDD;
  background-color: #f6f8fa;
  // add an other specific background color for the selected item
  &.is-configurable {
    border: 1px solid #DDDDFF;
    background-color: #f6f8ff;
  }

}


.right-button {
  margin-left: auto;
  margin-bottom: auto;
}

.margin-bottom-10 {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.reduced-height {
  height: 120px;
}

nz-ribbon {
  height: 140px;
}